.field {
  display: flex;
  padding: 12px;
  min-height: 56px;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 6px;
  align-items: center;

  .field-slot {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
  }

  .left-icon {
    margin-right: 12px;
  }

  .left-icon, .right-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &+.field {
    margin-top: 12px;
  }
}
