@import '../../../../style/mixin.less';

.current-connection-block {
  // position: absolute;
  bottom: 24px;
  width: 360px;

  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--r-neutral-card-2, #f5f6fa);
  border-radius: 6px;
  padding: 6px 12px 6px 8px;

  &-tooltip {
    max-width: 360px !important;
    left: 20px !important;
    .ant-tooltip-arrow {
      left: 90px !important;
    }
  }

  .site {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 0;
    flex: 1;
    .prefer-metamask-badge {
      position: absolute;
      top: -4px;
      left: -4px;
      width: 20px;
      height: 20px;
    }
    &-chain-selector {
      border: 1px solid transparent;
      border: 0.5px solid transparent;
      padding: 4px;
      border-radius: 4px;
      flex-shrink: 0;
      cursor: pointer;

      &:hover {
        border: 1px solid var(--r-blue-default, #7084ff);
        border: 0.5px solid var(--r-blue-default, #7084ff);
        background: var(--r-blue-light1, #eef1ff);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
      }
    }
    .chain-icon-comp {
      position: absolute;
      bottom: -2px;
      right: -2px;
      .chain-icon-inner {
        width: 16px;
        height: 16px;
        border: 1px solid var(--r-neutral-title2, #fff);
        border: 0.75px solid var(--r-neutral-title2, #fff);
      }
    }
    &.is-empty {
      .site-icon {
        width: 20px;
        height: 20px;
        margin-left: 8px;
        border-radius: none;
        border-color: transparent;
      }
      .site-content {
        // font-weight: 400;
        // font-size: 12px;
        // line-height: 14px;
        // color: var(--r-neutral-foot, #6a7587);
      }
    }

    &-icon {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      // border: 1px solid var(--r-neutral-title2, #fff);
    }
    &-content {
      flex: 1;
      overflow: hidden;
      min-width: 0;
    }
    &-name {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 2px;

      &-inner {
        min-width: 0;
        color: var(--r-neutral-title1, #192945);
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        .ellipsis();
      }

      .icon-star {
        flex-shrink: 0;
        cursor: pointer;
        display: none;

        &.is-active {
          display: block;
        }
      }

      &:hover {
        .icon-star {
          display: block;
        }
      }
    }
    &-status {
      color: var(--r-neutral-foot, #6a7587);
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;

      display: flex;
      align-items: center;
      &.active {
        color: var(--r-green-default, #2abb7f);
      }
      &-icon {
        display: none;
        margin-left: 4px;
        cursor: pointer;
        color: var(--r-neutral-foot, #6a7587);
      }
      &.active:hover {
        .site-status-icon {
          display: block;
        }
      }
    }
    &-dapps {
      border-radius: 4px;
      background: var(--r-neutral-card1, #fff);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
      padding: 8px 13px;
      display: flex;
      gap: 6px;
      align-items: center;

      color: var(--r-neutral-body, #3e495e);
      font-size: 13px;
      line-height: 16px;
      cursor: pointer;

      border: 0.5px solid transparent;

      &:hover {
        border: 0.5px solid var(--r-blue-default, #7084ff);
        background: var(--r-blue-light1, #eef1ff);
      }
    }
  }
}

.prefer-metamask-tooltip {
  max-width: 360px !important;
  .ant-tooltip-arrow {
    left: 13px !important;
  }
}

.current-connection-custom-rpc-tooltip {
  max-width: 360px !important;
  .ant-tooltip-arrow {
    left: 38px !important;
  }
}
