.desktop-select-account-list {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--rb-neural-line, #e0e5ec);
    border-radius: 1000px;
  }
}
