.rabby-default-wallet-setting {
  position: fixed;
  bottom: 28px;
  left: 100%;
  width: 303px;
  width: max-content;
  padding-left: 12px;
  height: 36px;

  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 14px;
  color: @color-title;
  transform: translateX(-42px);
  background: linear-gradient(
      0deg,
      rgba(134, 151, 255, 0.2),
      rgba(134, 151, 255, 0.2)
    ),
    #ffffff;

  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--r-blue-default, #7084ff);
  box-shadow: 0px 8px 16px rgba(134, 151, 255, 0.2);
  border-radius: 90px 0px 0px 90px;

  &:hover {
    transform: translateX(-100%);
  }
  transition: 0.3s;

  a {
    font-weight: 500;
    margin-left: 8px;
    padding: 10px 10px 10px 0;
  }

  &.is-metamask {
    transform: translateX(-100%);
    background: linear-gradient(
        0deg,
        rgba(245, 132, 31, 0.2),
        rgba(245, 132, 31, 0.2)
      ),
      #ffffff;
    border-color: #f5841f;
    box-shadow: 0px 8px 16px rgba(245, 132, 31, 0.2);

    a {
      color: #f5841f;
    }
  }

  &-modal {
    .ant-drawer-header {
      padding-bottom: 8px;
      background: linear-gradient(
        180deg,
        rgba(245, 132, 31, 0.12) 0%,
        rgba(245, 132, 31, 0) 100%
      );
      border-radius: 16px 16px 0px 0px;
    }
    &.is-flip-to-rabby .ant-drawer-header {
      background: linear-gradient(
        180deg,
        rgba(134, 151, 255, 0.12) 0%,
        rgba(134, 151, 255, 0) 100%
      );
    }
    .ant-drawer-body {
      padding-top: 12px;
      display: flex;
      flex-direction: column;
    }
    .desc {
      font-size: 14px;
      line-height: 20px;
      color: #4b4d59;
      flex: 1;
      margin-bottom: 8px;
    }
    .checkbox {
      margin-bottom: 32px;
      text-align: center;
      .rabby-checkbox__label {
        color: @color-comment-1;
      }
    }
    .footer {
      display: flex;
      gap: 16px;
    }
  }
}
