.recent-connections {
  background-color: var(--r-neutral-bg-1, #FFF);
  position: relative;
  flex: 1;
  padding: 14px 20px;
  .ant-badge {
    .ant-badge-count {
      background-color: var(--r-blue-default, #7084ff);
      padding: 2px 6px;
      font-size: 13px;
      line-height: 1;
      height: 18px;
      border-radius: 90px;
      box-shadow: none;
    }
    &.alert .ant-badge-count {
      background-color: #ec5151;
    }
  }
  .title {
    color: @color-comment-1;
    font-size: 12px;
    margin: 0;
  }
  .pannel {
    width: 360px;
    // height: 258px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 8px;
    padding-right: 7px;
    flex-direction: column;
    background: var(--r-neutral-card-2, #f5f6fa);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
    .direction-pannel {
      display: flex;
      flex-wrap: wrap;
      .disable-direction,
      .direction {
        position: relative;
        width: 115px;
        height: 76px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        color: var(--r-neutral-title-1, rgba(25, 41, 69, 1));
        .images {
          width: 28px;
          height: 28px;
          justify-self: center;
          margin-bottom: 5px;
        }
        .images.icon-spin {
          animation: icn-spin 1.5s linear infinite;
        }

        @keyframes icn-spin {
          100% {
            transform: rotate(360deg);
          }
        }

        .icon-alert {
          position: absolute;
          right: 33px;
          top: 7px;
        }
        &:hover {
          background: var(--r-blue-light-2, #eef1ff);
        }
      }
      .disable-direction {
        opacity: 0.5;

        &:hover {
          background: transparent;
        }
      }
      .coming-soon-badge {
        opacity: 1;
        cursor: default;
        position: absolute;
        right: 4px;
        top: 0;
        padding: 1px 8px;
        background: #d3dbe7;
        border-radius: 90px;
        color: @color-comment-1;
        height: 16px;
        width: 44px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
      }
    }
  }
  .price-viewer {
    display: flex;
    padding: 8px 12px;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 0.5px solid var(--r-neutral-line, #d3d8e0);
    background: var(--r-neutral-card-2, #f2f4f7);

    .eth-price,
    .gas-container {
      display: flex;
      justify-content: flex-start;
      flex: 1;
      align-items: center;

      .gasprice {
        font-size: 13px;
        line-height: 15px;
        font-weight: 500;
        margin-left: 6px;
        color: var(--r-neutral-title-1, #192945);
      }

      .positive {
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: #27c193;
        margin-left: 4px;
      }

      .depositive {
        .positive;
        color: #ec5151;
      }

      .even {
        .positive;
        color: @color-comment-1;
      }

      .ant-skeleton-button {
        width: 60px;
        height: 16px;
        background-color: #e5e9ef;
        border-radius: 2px;
        margin-left: 8px;
        opacity: 0.6;
      }
    }

    .eth-price .ant-skeleton-button {
      width: 100px;
    }

    .gas-container {
      position: relative;
      margin-left: auto;
      flex: initial;
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 20px;
        left: -12px;
        top: 50%;
        transform: translateY(-50%);
        background: var(--r-neutral-line, #d3d8e0);
        border-left: 0.5px solid var(--r-neutral-line, #d3d8e0);
      }

      .gasprice {
        padding: 0 2px 0 3px;
        margin-left: 0;
      }

      .gwei {
        color: var(--r-neutral-foot, #6a7587);
        line-height: 16px;
        font-size: 12px;
      }
    }
  }
  .icon-no-data {
    width: 140px;
    height: 140px;
    margin-top: 4px;
    margin-left: 50%;
    transform: translateX(-70px);
  }
  .current-connection {
    // position: absolute;
    bottom: 20px;
    width: 360px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--r-neutral-card-2, #f5f6fa);
    border-radius: 6px;
    padding: 12px 16px;
    &.higher {
      bottom: 40px;
    }
    .left-corner {
      position: absolute;
      left: 0;
      top: 0;
      border-top-left-radius: 6px;
    }
    .connect-wrapper {
      position: absolute;
      left: 0;
      height: 48px;
      background: transparent;
      border: 0.5px solid transparent;
      box-sizing: border-box;
      border-radius: 6px;
      &:hover {
        background: var(--r-blue-light-1, #eef1ff);
        border: 0.5px solid var(--r-blue-default, #7084ff);
        box-sizing: border-box;
        border-radius: 6px;
      }
    }
    .not-connected::after {
      content: '';
      position: absolute;
      left: 130px;
      bottom: 10px;
      height: 28px;
      width: 1px;
      border-right: 1px solid @color-border;
    }
    .connected {
      display: flex;
      align-items: center;
      width: 100%;
      .arrowColor {
        color: var(--r-blue-default, #7084ff);
      }
      .right {
        display: flex;
        flex: 1;
        position: absolute;
        right: 16px;
        .icon-container {
          position: relative;
          margin-right: 8px;
          display: flex;
        }
        .image-item {
          width: 24px;
          height: 24px;
          border-radius: 100%;
          padding: 1px;
          background: #ffffff;
          overflow: hidden;
          margin-left: -6px;
          position: relative;
          .image {
            width: 22px;
            height: 22px;
            border-radius: 100%;
          }
          &:first-child {
            z-index: 6;
          }
          &:nth-child(2) {
            z-index: 5;
          }
          &:nth-child(3) {
            z-index: 4;
          }
          &:nth-child(4) {
            z-index: 3;
          }
          &:nth-child(5) {
            z-index: 2;
          }
          &:last-child {
            z-index: 1;
            .image {
              z-index: 0;
            }
            .modal {
              z-index: 1;
              width: 24px;
              height: 24px;
              background: rgba(0, 0, 0, 0.8);
              border-radius: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              .dot {
                width: 14px;
              }
            }
          }
          img {
            width: 100%;
          }
        }
        .no-dapp {
          font-size: 12px;
          color: @color-comment-1;
        }
      }
      .logo {
        width: 28px;
        height: 28px;
        margin-right: 8px;
        border-radius: 4px;
      }
      .info {
        margin-left: 12px;
        flex: 1;
        padding-right: 10px;
        overflow: hidden;
        p {
          margin-bottom: 0;
        }
        .origin {
          color: @color-title;
          font-size: 13px;
          line-height: 15px;
          font-weight: 500;
        }
        .name {
          color: @color-comment-1;
          font-size: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .not-connected {
      display: flex;
      align-items: center;
      justify-content: center;
      color: @color-comment-1;
      font-size: 12px;
      margin: 0 15px 0 10px;
    }
  }
  &.lower {
    padding-top: 47px;
  }
}

.connect-site-popover {
  font-size: 12px;
  max-width: 220px;
  p {
    margin-bottom: 0;
    word-break: break-all;
  }
  .origin {
    color: @color-title;
    margin-bottom: 4px;
    font-weight: 500;
  }
}
.no-border-shadow {
  position: relative;
  width: 100%;
  box-shadow: none;
  border: 0;
  background: transparent;
  padding: 0 0 0 10px;
}
.no-border-shadow::after {
  content: '';
  position: relative;
  height: 28px;
  width: 1px;
  border-right: 1px solid @color-border;
}
.direction-tooltip {
  .ant-tooltip-arrow {
    transform: translateX(0);
    left: auto;
    right: 45px;
  }
}

.receive-chain-select-modal {
  .ant-drawer-header {
    border-bottom: none;
    padding: 20px;
  }
  .ant-drawer-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  .ant-drawer-body {
    // padding: 0 20px !important;
    padding-top: 0 !important;
  }
  .ant-drawer-content-wrapper,
  .ant-drawer-wrapper-body {
    // height: 300px !important;
  }
}

.coming-soon-message .tip-text {
  position: relative;
  // top: 1px;
}
