@import '../../style/mixin.less';

.page-receive {
  padding: 0 20px;
  background-color: var(--r-blue-default, #7084ff);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &-modal {
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-confirm-content {
      background: var(--r-neutral-bg1);
      margin: 0;
      padding: 40px 24px 32px;

      .icon {
        width: 64px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
      }

      .content {
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: var(--r-neutral-title-1);
        margin-bottom: 52px;
      }

      .footer {
        display: flex;
        gap: 12px;

        .ant-btn {
          height: 40px;
        }
      }
    }
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 12px;
    min-height: 90px;
    flex-shrink: 0;
    align-items: flex-start;
    gap: 8px;
    .icon-back path {
      fill: #fff;
    }
    &-left,
    &-right {
      padding-top: 6px;
      width: 24px;
      flex-shrink: 0;
    }
    &-right {
      text-align: right;
      img {
        display: inline-block;
      }
    }
    &-content {
      background: rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(40px);
      border-radius: 6px;
      padding: 8px 12px;
      overflow: hidden;
    }
  }

  .account {
    display: flex;
    gap: 8px;
    &-content {
      overflow: hidden;
    }
    &-icon {
      width: 20px;
      height: 20px;
    }
    &-name {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;
      .ellipsis();
    }
    &-balance {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      color: #ffffff;
      opacity: 0.6;
    }
    &-type {
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
      opacity: 0.6;
      margin-top: 2px;
    }
    .row {
      display: flex;
      gap: 6px;
      align-items: center;
    }
  }

  &-footer {
    position: static;
    flex-shrink: 0;
    margin-top: auto;
    padding-bottom: 32px;
    img {
      margin: auto;
    }
  }

  .qr-card {
    background: var(--r-neutral-bg-1);
    box-shadow: 0px 12px 60px rgba(54, 69, 157, 0.2);
    border-radius: 8px;
    padding: 16px 0;
    flex-shrink: 0;

    &-header {
      text-align: center;
      margin-bottom: 19px;
    }

    &-img {
      padding: 12px;
      border: 1px solid var(--r-neutral-line);
      border-radius: 10px;
      width: 200px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 19px;
      background-color: #fff;
    }
    &-address {
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: var(--r-neutral-title-1);
      padding: 0 4px;
      overflow-wrap: break-word;

      margin-bottom: 19px;
      text-align: center;
    }
    &-btn {
      background: var(--r-neutral-card-2);
      border-radius: 4px;
      height: 40px;
      min-width: 160px;
      padding: 12px 16px;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;

      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: var(--r-neutral-title-1);

      &:hover {
        background: var(--r-neutral-card2, #f2f4f7);
        color: var(--rb-brand-default, #4c65ff);
      }
      &:active {
        background: var(--r-neutral-bg-4, #ebeef7);
        color: var(--rb-brand-default, #4c65ff);
      }

      .icon-copy {
        margin-right: 6px;
      }
    }

    &-divider {
      height: 1px;
      background-color: var(--r-neutral-line);
      margin: 19px 16px;
    }

    &-chain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      cursor: pointer;
      color: var(--r-neutral-body);

      &-label {
        font-size: 13px;
        line-height: 16px;
      }

      &-list {
        display: flex;
        align-items: center;
      }

      &:hover {
        color: var(--rb-brand-default, #4c65ff);
      }

      &:active {
        color: var(--rb-brand-default-icon, #4056dd);
      }

      &-logo {
        width: 14px;
        height: 14px;
        border-radius: 50%;

        &:not(:first-child) {
          margin-left: -4px;
        }
      }

      &-name {
        margin-left: 6px;
        font-size: 13px;
        line-height: 16px;
      }

      &-count {
        margin-left: 4px;
        font-size: 13px;
        line-height: 16px;
      }

      &-arrow {
        margin-left: 4px;
      }
    }
  }

  .receive-offline-chain-notify:not(:empty) + .qr-card {
    padding: 12px 4px;

    .qr-card-header {
      margin-bottom: 8px;
    }

    .qr-card-img {
      margin-bottom: 16px;
    }
  }
}
