.request-permission-wrapper {
  min-height: 395px;
  padding-top: 118px !important;
  .btn-footer {
    width: 470px;
    justify-content: space-between;
    margin-top: 120px;
    display: flex;
    .ant-btn {
      width: 224px;
    }
  }
}
.request-permission {
  background: rgba(134, 151, 255, 0.1);
  border: 1px solid #8697FF;
  padding: 8px 16px;
  width: 470px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #8697FF;
  border-radius: 4px;
}