.name-and-address {
    display: flex;
    justify-content: center;
    align-items: center;
    .name {
        margin-right: 6px;
        font-weight: 500;
        font-size: 15px;
        color: #13141A;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    }
    .address {
        font-weight: normal;
        font-size: 15px;
        color: #707280;
    }
}
