@import '../../style/var.less';

.address-management {
  .page();
  padding: 0 28px;
}

.address-item-hidden {
  background: #F0F2F5;
  border-radius: 10px;
  padding: 3px 7px;
  color: #B4BDCC;
  font-size: 12px;
  margin-right: 12px;
}