.ant-input {
  border-radius: 6px;
}

.ant-btn {
  border-radius: 6px;
}

.ant-message-notice-content {
  padding: 7px 11px;
  background: rgba(45, 48, 51, 0.9);
  border-radius: 20px;
  .ant-message-custom-content {
    display: flex;
    align-items: center;
  }
  .ant-message-success {
    color: #27c193;
    font-weight: 500;
    .icon-success {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }
  .ant-message-error {
    color: #fff;
  }
}

.ant-modal-header,
.ant-modal-content,
.ant-modal-content {
  background: #f0f2f5;
}
.ant-modal-content {
  box-shadow: 0px 16px 20px rgb(45 48 51 / 16%);
  border-radius: 6px;
  overflow: hidden;
}
.ant-modal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #2d3033;
}
.ant-modal-header {
  padding-bottom: 0;
}
.ant-modal-confirm-body {
  .anticon.anticon-info-circle {
    display: none;
  }
  .ant-modal-confirm-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #2d3033;
  }
  .ant-modal-confirm-content {
    background-color: #fff;
    padding: 18px 12px;
    border-radius: 6px;
    margin-left: 0 !important;
  }
}

/*---------------------
        form
---------------------*/

.ant-form-item-explain,
.ant-form-item-extra {
  font-size: 12px;
}

/*---------------------
        Switch
---------------------*/
.ant-switch-checked {
  background-color: #27C193;
}