.ant-input {
  border-radius: 6px;
}

.ant-btn {
  border-radius: 6px;
}

.ant-message-notice-content {
  padding: 7px 11px;
  background: rgba(45, 48, 51, .9);
  border-radius: 20px;
  .ant-message-custom-content {
    display: flex;
    align-items: center;
  }
  .ant-message-success {
    color: #27C193;
    font-weight: 500;
    .icon-success {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }
}
