
/* this file is genetared automatically, never modify it manually! */
:root {
  /* -------------------- base define -------------------- */
  --rabby-light-blue-default: rgba(112, 132, 255, 1);
  --rabby-light-blue-light-1: rgba(238, 241, 255, 1);
  --rabby-light-blue-light-2: rgba(222, 227, 252, 1);
  --rabby-light-blue-disable: rgba(112, 132, 255, 0.5);
  --rabby-light-green-default: rgba(42, 187, 127, 1);
  --rabby-light-green-light: rgba(42, 187, 127, 0.15);
  --rabby-light-orange-default: rgba(255, 176, 32, 1);
  --rabby-light-orange-light: rgba(255, 176, 32, 0.15);
  --rabby-light-red-default: rgba(227, 73, 53, 1);
  --rabby-light-red-light: rgba(227, 73, 53, 0.15);
  --rabby-light-red-dark: rgba(174, 42, 25, 1);
  --rabby-light-red-light-2: rgba(174, 42, 25, 0.2);
  --rabby-light-neutral-title-1: rgba(25, 41, 69, 1);
  --rabby-light-neutral-body: rgba(62, 73, 94, 1);
  --rabby-light-neutral-foot: rgba(106, 117, 135, 1);
  --rabby-light-neutral-line: rgba(211, 216, 224, 1);
  --rabby-light-neutral-bg-1: #ffffff;
  --rabby-light-neutral-bg-2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-bg-3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-card-1: #ffffff;
  --rabby-light-neutral-card-2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-card-3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-title-2: #ffffff;
  --rabby-light-neutral-black: #000000;

  --rabby-dark-brand-default: rgba(112, 132, 255, 1);
  --rabby-dark-blue-default: rgba(112, 132, 255, 1);
  --rabby-dark-blue-light: rgba(112, 132, 255, 0.1);
  --rabby-dark-blue-disable: rgba(112, 132, 255, 0.3);
  --rabby-dark-green-default: rgba(42, 187, 127, 1);
  --rabby-dark-green-light: rgba(42, 187, 127, 0.2);
  --rabby-dark-orange-default: rgba(255, 198, 74, 1);
  --rabby-dark-orange-light: rgba(255, 198, 74, 0.2);
  --rabby-dark-red-default: rgba(239, 92, 72, 1);
  --rabby-dark-red-light: rgba(239, 92, 72, 0.2);
  --rabby-dark-red-dark: rgba(174, 42, 25, 1);
  --rabby-dark-red-light-2: rgba(174, 42, 25, 0.2);
  --rabby-dark-neutral-title-1: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-body: rgba(211, 216, 224, 1);
  --rabby-dark-neutral-foot: rgba(186, 190, 197, 1);
  --rabby-dark-neutral-line: rgba(255, 255, 255, 0.1);
  --rabby-dark-neutral-bg-1: rgba(61, 66, 81, 1);
  --rabby-dark-neutral-bg-2: rgba(61, 66, 81, 1);
  --rabby-dark-neutral-bg-3: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-card-1: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-2: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-3: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-title-2: rgba(255, 255, 255, 1);
  --rabby-dark-neutral-black: rgba(0, 0, 0, 1);
}

html, body {
  /* -------------------- light mode -------------------- */
  --r-blue-default: var(--rabby-light-blue-default);
  --r-blue-light-1: var(--rabby-light-blue-light-1);
  --r-blue-light-2: var(--rabby-light-blue-light-2);
  --r-blue-disable: var(--rabby-light-blue-disable);
  --r-green-default: var(--rabby-light-green-default);
  --r-green-light: var(--rabby-light-green-light);
  --r-orange-default: var(--rabby-light-orange-default);
  --r-orange-light: var(--rabby-light-orange-light);
  --r-red-default: var(--rabby-light-red-default);
  --r-red-light: var(--rabby-light-red-light);
  --r-red-dark: var(--rabby-light-red-dark);
  --r-red-light-2: var(--rabby-light-red-light-2);
  --r-neutral-title-1: var(--rabby-light-neutral-title-1);
  --r-neutral-body: var(--rabby-light-neutral-body);
  --r-neutral-foot: var(--rabby-light-neutral-foot);
  --r-neutral-line: var(--rabby-light-neutral-line);
  --r-neutral-bg-1: var(--rabby-light-neutral-bg-1);
  --r-neutral-bg-2: var(--rabby-light-neutral-bg-2);
  --r-neutral-bg-3: var(--rabby-light-neutral-bg-3);
  --r-neutral-card-1: var(--rabby-light-neutral-card-1);
  --r-neutral-card-2: var(--rabby-light-neutral-card-2);
  --r-neutral-card-3: var(--rabby-light-neutral-card-3);
  --r-neutral-title-2: var(--rabby-light-neutral-title-2);
  --r-neutral-black: var(--rabby-light-neutral-black);
}

html.in-dark-mode, body.in-dark-mode {
  /* -------------------- dark mode -------------------- */
  --r-brand-default: var(--rabby-dark-brand-default);
  --r-blue-default: var(--rabby-dark-blue-default);
  --r-blue-light: var(--rabby-dark-blue-light);
  --r-blue-disable: var(--rabby-dark-blue-disable);
  --r-green-default: var(--rabby-dark-green-default);
  --r-green-light: var(--rabby-dark-green-light);
  --r-orange-default: var(--rabby-dark-orange-default);
  --r-orange-light: var(--rabby-dark-orange-light);
  --r-red-default: var(--rabby-dark-red-default);
  --r-red-light: var(--rabby-dark-red-light);
  --r-red-dark: var(--rabby-dark-red-dark);
  --r-red-light-2: var(--rabby-dark-red-light-2);
  --r-neutral-title-1: var(--rabby-dark-neutral-title-1);
  --r-neutral-body: var(--rabby-dark-neutral-body);
  --r-neutral-foot: var(--rabby-dark-neutral-foot);
  --r-neutral-line: var(--rabby-dark-neutral-line);
  --r-neutral-bg-1: var(--rabby-dark-neutral-bg-1);
  --r-neutral-bg-2: var(--rabby-dark-neutral-bg-2);
  --r-neutral-bg-3: var(--rabby-dark-neutral-bg-3);
  --r-neutral-card-1: var(--rabby-dark-neutral-card-1);
  --r-neutral-card-2: var(--rabby-dark-neutral-card-2);
  --r-neutral-card-3: var(--rabby-dark-neutral-card-3);
  --r-neutral-title-2: var(--rabby-dark-neutral-title-2);
  --r-neutral-black: var(--rabby-dark-neutral-black);
}
