
/* this file is genetared automatically, never modify it manually! */
:root {
  --rabby-color-opacity: 1;
  --tw-bg-opacity: 1;

  /* -------------------- base define -------------------- */
  --rabby-light-blue-default: rgba(76, 101, 255, 1);
  --rabby-light-blue-light1: rgba(237, 240, 255, 1);
  --rabby-light-blue-light-1: rgba(237, 240, 255, 1);
  --rabby-light-blue-light2: rgba(219, 224, 255, 1);
  --rabby-light-blue-light-2: rgba(219, 224, 255, 1);
  --rabby-light-blue-disable: rgba(165, 178, 255, 1);
  --rabby-light-green-default: rgba(42, 187, 127, 1);
  --rabby-light-green-light: rgba(216, 242, 231, 1);
  --rabby-light-orange-default: rgba(255, 176, 32, 1);
  --rabby-light-orange-light: rgba(255, 245, 226, 1);
  --rabby-light-orange-DBK: rgba(255,124,96, 1);
  --rabby-light-red-default: rgba(227, 73, 53, 1);
  --rabby-light-red-light: rgba(255, 242, 240, 1);
  --rabby-light-red-dark: rgba(174, 42, 25, 1);
  --rabby-light-red-light2: rgba(239, 212, 209, 1);
  --rabby-light-red-light-2: rgba(239, 212, 209, 1);
  --rabby-light-neutral-title1: rgba(25, 41, 69, 1);
  --rabby-light-neutral-title-1: rgba(25, 41, 69, 1);
  --rabby-light-neutral-body: rgba(62, 73, 94, 1);
  --rabby-light-neutral-foot: rgba(106, 117, 135, 1);
  --rabby-light-neutral-line: rgba(224, 229, 236, 1);
  --rabby-light-neutral-bg1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-bg-1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-bg2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-bg-2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-bg3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-bg-3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-bg-4: rgba(235, 238, 247, 1);
  --rabby-light-neutral-card1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-card-1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-card2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-card-2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-card3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-card-3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-title2: rgba(255, 255, 255, 1);
  --rabby-light-neutral-title-2: rgba(255, 255, 255, 1);
  --rabby-light-neutral-black: rgba(0, 0, 0, 1);
  --rabby-light-sonic-btn: rgba(33, 78, 129, 0.16);
  --rabby-light-sonic-btn-foreground: rgba(33, 78, 129, 1);
  --rabby-light-sonic-card: rgba(255, 255, 255, 1);
  --rabby-light-sonic-card-foreground: rgba(0, 0, 0, 1);
  --rabby-light-sonic-card-border: rgba(80, 97, 121, 0.1);
  --rabby-light-sonic-background: rgba(245, 245, 245, 1);
  --rabby-light-sonic-foreground: rgba(0, 0, 0, 1);

  --rabby-dark-blue-default: rgba(76, 101, 255, 1);
  --rabby-dark-blue-light1: rgba(33, 38, 64, 1);
  --rabby-dark-blue-light-1: rgba(33, 38, 64, 1);
  --rabby-dark-blue-light2: rgba(38, 45, 85, 1);
  --rabby-dark-blue-light-2: rgba(38, 45, 85, 1);
  --rabby-dark-blue-disable: rgba(47, 59, 128, 1);
  --rabby-dark-green-default: rgba(42, 187, 127, 1);
  --rabby-dark-green-light: rgba(57, 90, 90, 1);
  --rabby-dark-orange-default: rgba(255, 198, 74, 1);
  --rabby-dark-orange-light: rgba(72, 67, 57, 1);
  --rabby-dark-orange-DBK: rgba(255,124,96, 1);
  --rabby-dark-red-default: rgba(239, 92, 72, 1);
  --rabby-dark-red-light: rgba(79, 58, 66, 1);
  --rabby-dark-red-dark: rgba(174, 42, 25, 1);
  --rabby-dark-red-light2: rgba(79, 58, 66, 1);
  --rabby-dark-red-light-2: rgba(79, 58, 66, 1);
  --rabby-dark-neutral-title1: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-title-1: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-body: rgba(211, 216, 224, 1);
  --rabby-dark-neutral-foot: rgba(186, 190, 197, 1);
  --rabby-dark-neutral-line: rgba(255, 255, 255, 0.1);
  --rabby-dark-neutral-bg1: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-1: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg2: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-2: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg3: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-3: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-4: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-card1: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-1: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card2: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-2: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card3: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-3: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-title2: rgba(255, 255, 255, 1);
  --rabby-dark-neutral-title-2: rgba(255, 255, 255, 1);
  --rabby-dark-neutral-black: rgba(0, 0, 0, 1);
  --rabby-dark-sonic-card: rgba(33,34,38, 1);
  --rabby-dark-sonic-card-foreground: rgba(255,255,255, 1);
  --rabby-dark-sonic-card-border: rgba(50,51,55, 1);
  --rabby-dark-sonic-background: rgba(20,20,22, 1);
  --rabby-dark-sonic-foreground: rgba(255,255,255, 1);
  --rabby-dark-sonic-btn: rgba(254, 154, 76, 0.16);
  --rabby-dark-sonic-btn-foreground: rgba(254, 154, 76, 1);


  --rb-light-brand-default: rgba(76, 101, 255, 1);
  --rb-light-brand-default-light: rgba(76, 101, 255, 0.7);
  --rb-light-brand-default-icon: rgba(64, 86, 221, 1);
  --rb-light-brand-light-1: rgba(76, 101, 255, 0.12);
  --rb-light-brand-light-2: rgba(76, 101, 255, 0.25);
  --rb-light-brand-disable: rgba(76, 101, 255, 0.4);
  --rb-light-brand-light-4: rgba(112, 132, 255, 0.7);
  --rb-light-red-dark: rgba(199, 21, 10, 1);
  --rb-light-red-default: rgba(255, 69, 58, 1);
  --rb-light-red-light-1: rgba(255, 115, 107, 0.1);
  --rb-light-red-light-2: rgba(255, 115, 107, 0.2);
  --rb-light-red-disable: rgba(255, 115, 107, 0.4);
  --rb-light-red-light-4: rgba(255, 115, 107, 0.85);
  --rb-light-orange-default: rgba(255, 159, 10, 1);
  --rb-light-orange-light-1: rgba(255, 170, 39, 0.1);
  --rb-light-orange-light-2: rgba(255, 159, 10, 0.44);
  --rb-light-orange-disable: rgba(255, 159, 10, 0.24);
  --rb-light-orange-light-4: rgba(255, 159, 10, 0.14);
  --rb-light-green-default: rgba(88, 198, 105, 1);
  --rb-light-green-default-light: rgba(117, 212, 101, 0.70);
  --rb-light-green-light-1: rgba(88, 198, 105, 0.8);
  --rb-light-green-light-2: rgba(88, 198, 105, 0.4);
  --rb-light-green-disable: rgba(88, 198, 105, 0.27);
  --rb-light-green-light-4: rgba(88, 198, 105, 0.14);
  --rb-light-blue-default: rgba(10, 132, 255, 1);
  --rb-light-blue-light-1: rgba(10, 132, 255, 0.7);
  --rb-light-blue-light-2: rgba(10, 132, 255, 0.4);
  --rb-light-blue-disable: rgba(10, 132, 255, 0.27);
  --rb-light-blue-light-4: rgba(10, 132, 255, 0.14);
  --rb-light-neutral-bg-0: rgba(246, 247, 247, 1);
  --rb-light-neutral-bg-1: rgba(255, 255, 255, 1);
  --rb-light-neutral-bg-2: rgba(242, 244, 247, 1);
  --rb-light-neutral-bg-3: rgba(249, 249, 249, 1);
  --rb-light-neutral-bg-4: rgba(235, 238, 247, 1);
  --rb-light-neutral-bg-5: rgba(224, 229, 236, 0.5);
  --rb-light-neutral-line: rgba(224, 229, 236, 1);
  --rb-light-neutral-title-1: rgba(25, 41, 69, 1);
  --rb-light-neutral-title-2: rgba(255, 255, 255, 1);
  --rb-light-neutral-card-1: rgba(255, 255, 255, 1);
  --rb-light-neutral-card-2: rgba(242, 244, 247, 1);
  --rb-light-neutral-body: rgba(62, 73, 94, 1);
  --rb-light-neutral-foot: rgba(106, 117, 135, 1);
  --rb-light-neutral-secondary: rgba(154, 156, 169, 1);
  --rb-light-neutral-info: rgba(197, 197, 207, 1);
  --rb-light-neutral-InvertHighlight: rgba(255, 255, 255, 1);
  --rb-light-neutral-black: rgba(0, 0, 0, 1);
  --rb-light-neutral-bg-gray: rgba(246, 247, 247, 1);

  --rb-dark-brand-default: rgba(112, 132, 255, 1);
  --rb-dark-brand-default-light: rgba(112, 132, 255, 0.7);
  --rb-dark-brand-default-icon: rgba(82, 103, 232, 1);
  --rb-dark-brand-light-1: rgba(112, 132, 255, 0.12);
  --rb-dark-brand-light-2: rgba(112, 132, 255, 0.25);
  --rb-dark-brand-disable: rgba(112, 132, 255, 0.4);
  --rb-dark-brand-light-4: rgba(112, 132, 255, 0.7);
  --rb-dark-red-dark: rgba(199, 21, 10, 1);
  --rb-dark-red-default: rgba(255, 69, 58, 1);
  --rb-dark-red-light-1: rgba(255, 115, 107, 0.1);
  --rb-dark-red-light-2: rgba(255, 115, 107, 0.2);
  --rb-dark-red-disable: rgba(255, 115, 107, 0.4);
  --rb-dark-red-light-4: rgba(255, 115, 107, 0.85);
  --rb-dark-orange-default: rgba(255, 159, 10, 1);
  --rb-dark-orange-light-1: rgba(255, 170, 39, 0.1);
  --rb-dark-orange-light-2: rgba(255, 159, 10, 0.44);
  --rb-dark-orange-disable: rgba(255, 159, 10, 0.24);
  --rb-dark-orange-light-4: rgba(255, 159, 10, 0.14);
  --rb-dark-green-default: rgba(88, 198, 105, 1);
  --rb-dark-green-default-light: rgba(117, 212, 101, 0.70);
  --rb-dark-green-light-1: rgba(88, 198, 105, 0.8);
  --rb-dark-green-light-2: rgba(88, 198, 105, 0.4);
  --rb-dark-green-disable: rgba(88, 198, 105, 0.27);
  --rb-dark-green-light-4: rgba(88, 198, 105, 0.14);
  --rb-dark-blue-default: rgba(10, 132, 255, 1);
  --rb-dark-blue-light-1: rgba(10, 132, 255, 0.7);
  --rb-dark-blue-light-2: rgba(10, 132, 255, 0.4);
  --rb-dark-blue-disable: rgba(10, 132, 255, 0.27);
  --rb-dark-blue-light-4: rgba(10, 132, 255, 0.14);
  --rb-dark-neutral-bg-0: rgba(19, 20, 22, 1);
  --rb-dark-neutral-bg-1: rgba(19, 20, 22, 1);
  --rb-dark-neutral-bg-2: rgba(35, 36, 40, 1);
  --rb-dark-neutral-bg-3: rgba(28, 28, 29, 1);
  --rb-dark-neutral-bg-4: rgba(56, 59, 65, 1);
  --rb-dark-neutral-bg-5: rgba(47, 49, 53, 0.5);
  --rb-dark-neutral-line: rgba(47, 49, 53, 1);
  --rb-dark-neutral-title-1: rgba(247, 250, 252, 1);
  --rb-dark-neutral-title-2: rgba(255, 255, 255, 1);
  --rb-dark-neutral-card-1: rgba(255, 255, 255, 0.06);
  --rb-dark-neutral-card-2: rgba(242, 244, 247, 1);
  --rb-dark-neutral-body: rgba(211, 216, 224, 1);
  --rb-dark-neutral-foot: rgba(186, 190, 197, 1);
  --rb-dark-neutral-secondary: rgba(113, 115, 128, 1);
  --rb-dark-neutral-info: rgba(86, 87, 95, 1);
  --rb-dark-neutral-InvertHighlight: rgba(255, 255, 255, 1);
  --rb-dark-neutral-black: rgba(0, 0, 0, 1);
  --rb-dark-neutral-bg-gray: rgba(19, 20, 22, 1);
}

:root {
  /* -------------------- light mode -------------------- */
  --r-blue-default-rgb: 76, 101, 255;
  --r-blue-default: var(--rabby-light-blue-default);
  --r-blue-light1-rgb: 237, 240, 255;
  --r-blue-light1: var(--rabby-light-blue-light1);
  --r-blue-light-1-rgb: 237, 240, 255;
  --r-blue-light-1: var(--rabby-light-blue-light-1);
  --r-blue-light2-rgb: 219, 224, 255;
  --r-blue-light2: var(--rabby-light-blue-light2);
  --r-blue-light-2-rgb: 219, 224, 255;
  --r-blue-light-2: var(--rabby-light-blue-light-2);
  --r-blue-disable-rgb: 165, 178, 255;
  --r-blue-disable: var(--rabby-light-blue-disable);
  --r-green-default-rgb: 42, 187, 127;
  --r-green-default: var(--rabby-light-green-default);
  --r-green-light-rgb: 216, 242, 231;
  --r-green-light: var(--rabby-light-green-light);
  --r-orange-default-rgb: 255, 176, 32;
  --r-orange-default: var(--rabby-light-orange-default);
  --r-orange-light-rgb: 255, 245, 226;
  --r-orange-light: var(--rabby-light-orange-light);
  --r-orange-DBK-rgb: 255, 124, 96;
  --r-orange-DBK: var(--rabby-light-orange-DBK);
  --r-red-default-rgb: 227, 73, 53;
  --r-red-default: var(--rabby-light-red-default);
  --r-red-light-rgb: 255, 242, 240;
  --r-red-light: var(--rabby-light-red-light);
  --r-red-dark-rgb: 174, 42, 25;
  --r-red-dark: var(--rabby-light-red-dark);
  --r-red-light2-rgb: 239, 212, 209;
  --r-red-light2: var(--rabby-light-red-light2);
  --r-red-light-2-rgb: 239, 212, 209;
  --r-red-light-2: var(--rabby-light-red-light-2);
  --r-neutral-title1-rgb: 25, 41, 69;
  --r-neutral-title1: var(--rabby-light-neutral-title1);
  --r-neutral-title-1-rgb: 25, 41, 69;
  --r-neutral-title-1: var(--rabby-light-neutral-title-1);
  --r-neutral-body-rgb: 62, 73, 94;
  --r-neutral-body: var(--rabby-light-neutral-body);
  --r-neutral-foot-rgb: 106, 117, 135;
  --r-neutral-foot: var(--rabby-light-neutral-foot);
  --r-neutral-line-rgb: 224, 229, 236;
  --r-neutral-line: var(--rabby-light-neutral-line);
  --r-neutral-bg1-rgb: 255, 255, 255;
  --r-neutral-bg1: var(--rabby-light-neutral-bg1);
  --r-neutral-bg-1-rgb: 255, 255, 255;
  --r-neutral-bg-1: var(--rabby-light-neutral-bg-1);
  --r-neutral-bg2-rgb: 242, 244, 247;
  --r-neutral-bg2: var(--rabby-light-neutral-bg2);
  --r-neutral-bg-2-rgb: 242, 244, 247;
  --r-neutral-bg-2: var(--rabby-light-neutral-bg-2);
  --r-neutral-bg3-rgb: 247, 250, 252;
  --r-neutral-bg3: var(--rabby-light-neutral-bg3);
  --r-neutral-bg-3-rgb: 247, 250, 252;
  --r-neutral-bg-3: var(--rabby-light-neutral-bg-3);
  --r-neutral-bg-4-rgb: 235, 238, 247;
  --r-neutral-bg-4: var(--rabby-light-neutral-bg-4);
  --r-neutral-card1-rgb: 255, 255, 255;
  --r-neutral-card1: var(--rabby-light-neutral-card1);
  --r-neutral-card-1-rgb: 255, 255, 255;
  --r-neutral-card-1: var(--rabby-light-neutral-card-1);
  --r-neutral-card2-rgb: 242, 244, 247;
  --r-neutral-card2: var(--rabby-light-neutral-card2);
  --r-neutral-card-2-rgb: 242, 244, 247;
  --r-neutral-card-2: var(--rabby-light-neutral-card-2);
  --r-neutral-card3-rgb: 247, 250, 252;
  --r-neutral-card3: var(--rabby-light-neutral-card3);
  --r-neutral-card-3-rgb: 247, 250, 252;
  --r-neutral-card-3: var(--rabby-light-neutral-card-3);
  --r-neutral-title2-rgb: 255, 255, 255;
  --r-neutral-title2: var(--rabby-light-neutral-title2);
  --r-neutral-title-2-rgb: 255, 255, 255;
  --r-neutral-title-2: var(--rabby-light-neutral-title-2);
  --r-neutral-black-rgb: 0, 0, 0;
  --r-neutral-black: var(--rabby-light-neutral-black);
  --r-sonic-btn-rgb: 33, 78, 129;
  --r-sonic-btn: var(--rabby-light-sonic-btn);
  --r-sonic-btn-foreground-rgb: 33, 78, 129;
  --r-sonic-btn-foreground: var(--rabby-light-sonic-btn-foreground);
  --r-sonic-card-rgb: 255, 255, 255;
  --r-sonic-card: var(--rabby-light-sonic-card);
  --r-sonic-card-foreground-rgb: 0, 0, 0;
  --r-sonic-card-foreground: var(--rabby-light-sonic-card-foreground);
  --r-sonic-card-border-rgb: 80, 97, 121;
  --r-sonic-card-border: var(--rabby-light-sonic-card-border);
  --r-sonic-background-rgb: 245, 245, 245;
  --r-sonic-background: var(--rabby-light-sonic-background);
  --r-sonic-foreground-rgb: 0, 0, 0;
  --r-sonic-foreground: var(--rabby-light-sonic-foreground);

  


    --rb-brand-default-rgb: 76, 101, 255;
  --rb-brand-default: var(--rb-light-brand-default);
  --rb-brand-default-light-rgb: 76, 101, 255;
  --rb-brand-default-light: var(--rb-light-brand-default-light);
  --rb-brand-default-icon-rgb: 64, 86, 221;
  --rb-brand-default-icon: var(--rb-light-brand-default-icon);
  --rb-brand-light-1-rgb: 76, 101, 255;
  --rb-brand-light-1: var(--rb-light-brand-light-1);
  --rb-brand-light-2-rgb: 76, 101, 255;
  --rb-brand-light-2: var(--rb-light-brand-light-2);
  --rb-brand-disable-rgb: 76, 101, 255;
  --rb-brand-disable: var(--rb-light-brand-disable);
  --rb-brand-light-4-rgb: 112, 132, 255;
  --rb-brand-light-4: var(--rb-light-brand-light-4);
  --rb-red-dark-rgb: 199, 21, 10;
  --rb-red-dark: var(--rb-light-red-dark);
  --rb-red-default-rgb: 255, 69, 58;
  --rb-red-default: var(--rb-light-red-default);
  --rb-red-light-1-rgb: 255, 115, 107;
  --rb-red-light-1: var(--rb-light-red-light-1);
  --rb-red-light-2-rgb: 255, 115, 107;
  --rb-red-light-2: var(--rb-light-red-light-2);
  --rb-red-disable-rgb: 255, 115, 107;
  --rb-red-disable: var(--rb-light-red-disable);
  --rb-red-light-4-rgb: 255, 115, 107;
  --rb-red-light-4: var(--rb-light-red-light-4);
  --rb-orange-default-rgb: 255, 159, 10;
  --rb-orange-default: var(--rb-light-orange-default);
  --rb-orange-light-1-rgb: 255, 170, 39;
  --rb-orange-light-1: var(--rb-light-orange-light-1);
  --rb-orange-light-2-rgb: 255, 159, 10;
  --rb-orange-light-2: var(--rb-light-orange-light-2);
  --rb-orange-disable-rgb: 255, 159, 10;
  --rb-orange-disable: var(--rb-light-orange-disable);
  --rb-orange-light-4-rgb: 255, 159, 10;
  --rb-orange-light-4: var(--rb-light-orange-light-4);
  --rb-green-default-rgb: 88, 198, 105;
  --rb-green-default: var(--rb-light-green-default);
  --rb-green-default-light-rgb: 117, 212, 101;
  --rb-green-default-light: var(--rb-light-green-default-light);
  --rb-green-light-1-rgb: 88, 198, 105;
  --rb-green-light-1: var(--rb-light-green-light-1);
  --rb-green-light-2-rgb: 88, 198, 105;
  --rb-green-light-2: var(--rb-light-green-light-2);
  --rb-green-disable-rgb: 88, 198, 105;
  --rb-green-disable: var(--rb-light-green-disable);
  --rb-green-light-4-rgb: 88, 198, 105;
  --rb-green-light-4: var(--rb-light-green-light-4);
  --rb-blue-default-rgb: 10, 132, 255;
  --rb-blue-default: var(--rb-light-blue-default);
  --rb-blue-light-1-rgb: 10, 132, 255;
  --rb-blue-light-1: var(--rb-light-blue-light-1);
  --rb-blue-light-2-rgb: 10, 132, 255;
  --rb-blue-light-2: var(--rb-light-blue-light-2);
  --rb-blue-disable-rgb: 10, 132, 255;
  --rb-blue-disable: var(--rb-light-blue-disable);
  --rb-blue-light-4-rgb: 10, 132, 255;
  --rb-blue-light-4: var(--rb-light-blue-light-4);
  --rb-neutral-bg-0-rgb: 246, 247, 247;
  --rb-neutral-bg-0: var(--rb-light-neutral-bg-0);
  --rb-neutral-bg-1-rgb: 255, 255, 255;
  --rb-neutral-bg-1: var(--rb-light-neutral-bg-1);
  --rb-neutral-bg-2-rgb: 242, 244, 247;
  --rb-neutral-bg-2: var(--rb-light-neutral-bg-2);
  --rb-neutral-bg-3-rgb: 249, 249, 249;
  --rb-neutral-bg-3: var(--rb-light-neutral-bg-3);
  --rb-neutral-bg-4-rgb: 235, 238, 247;
  --rb-neutral-bg-4: var(--rb-light-neutral-bg-4);
  --rb-neutral-bg-5-rgb: 224, 229, 236;
  --rb-neutral-bg-5: var(--rb-light-neutral-bg-5);
  --rb-neutral-line-rgb: 224, 229, 236;
  --rb-neutral-line: var(--rb-light-neutral-line);
  --rb-neutral-title-1-rgb: 25, 41, 69;
  --rb-neutral-title-1: var(--rb-light-neutral-title-1);
  --rb-neutral-title-2-rgb: 255, 255, 255;
  --rb-neutral-title-2: var(--rb-light-neutral-title-2);
  --rb-neutral-card-1-rgb: 255, 255, 255;
  --rb-neutral-card-1: var(--rb-light-neutral-card-1);
  --rb-neutral-card-2-rgb: 242, 244, 247;
  --rb-neutral-card-2: var(--rb-light-neutral-card-2);
  --rb-neutral-body-rgb: 62, 73, 94;
  --rb-neutral-body: var(--rb-light-neutral-body);
  --rb-neutral-foot-rgb: 106, 117, 135;
  --rb-neutral-foot: var(--rb-light-neutral-foot);
  --rb-neutral-secondary-rgb: 154, 156, 169;
  --rb-neutral-secondary: var(--rb-light-neutral-secondary);
  --rb-neutral-info-rgb: 197, 197, 207;
  --rb-neutral-info: var(--rb-light-neutral-info);
  --rb-neutral-InvertHighlight-rgb: 255, 255, 255;
  --rb-neutral-InvertHighlight: var(--rb-light-neutral-InvertHighlight);
  --rb-neutral-black-rgb: 0, 0, 0;
  --rb-neutral-black: var(--rb-light-neutral-black);
  --rb-neutral-bg-gray-rgb: 246, 247, 247;
  --rb-neutral-bg-gray: var(--rb-light-neutral-bg-gray);
}

html.dark, body.dark {
  /* -------------------- dark mode -------------------- */
  --r-blue-default-rgb: 76, 101, 255;
  --r-blue-default: var(--rabby-dark-blue-default);
  --r-blue-light1-rgb: 33, 38, 64;
  --r-blue-light1: var(--rabby-dark-blue-light1);
  --r-blue-light-1-rgb: 33, 38, 64;
  --r-blue-light-1: var(--rabby-dark-blue-light-1);
  --r-blue-light2-rgb: 38, 45, 85;
  --r-blue-light2: var(--rabby-dark-blue-light2);
  --r-blue-light-2-rgb: 38, 45, 85;
  --r-blue-light-2: var(--rabby-dark-blue-light-2);
  --r-blue-disable-rgb: 47, 59, 128;
  --r-blue-disable: var(--rabby-dark-blue-disable);
  --r-green-default-rgb: 42, 187, 127;
  --r-green-default: var(--rabby-dark-green-default);
  --r-green-light-rgb: 57, 90, 90;
  --r-green-light: var(--rabby-dark-green-light);
  --r-orange-default-rgb: 255, 198, 74;
  --r-orange-default: var(--rabby-dark-orange-default);
  --r-orange-light-rgb: 72, 67, 57;
  --r-orange-light: var(--rabby-dark-orange-light);
  --r-orange-DBK-rgb: 255, 124, 96;
  --r-orange-DBK: var(--rabby-dark-orange-DBK);
  --r-red-default-rgb: 239, 92, 72;
  --r-red-default: var(--rabby-dark-red-default);
  --r-red-light-rgb: 79, 58, 66;
  --r-red-light: var(--rabby-dark-red-light);
  --r-red-dark-rgb: 174, 42, 25;
  --r-red-dark: var(--rabby-dark-red-dark);
  --r-red-light2-rgb: 79, 58, 66;
  --r-red-light2: var(--rabby-dark-red-light2);
  --r-red-light-2-rgb: 79, 58, 66;
  --r-red-light-2: var(--rabby-dark-red-light-2);
  --r-neutral-title1-rgb: 247, 250, 252;
  --r-neutral-title1: var(--rabby-dark-neutral-title1);
  --r-neutral-title-1-rgb: 247, 250, 252;
  --r-neutral-title-1: var(--rabby-dark-neutral-title-1);
  --r-neutral-body-rgb: 211, 216, 224;
  --r-neutral-body: var(--rabby-dark-neutral-body);
  --r-neutral-foot-rgb: 186, 190, 197;
  --r-neutral-foot: var(--rabby-dark-neutral-foot);
  --r-neutral-line-rgb: 255, 255, 255;
  --r-neutral-line: var(--rabby-dark-neutral-line);
  --r-neutral-bg1-rgb: 12, 15, 31;
  --r-neutral-bg1: var(--rabby-dark-neutral-bg1);
  --r-neutral-bg-1-rgb: 12, 15, 31;
  --r-neutral-bg-1: var(--rabby-dark-neutral-bg-1);
  --r-neutral-bg2-rgb: 12, 15, 31;
  --r-neutral-bg2: var(--rabby-dark-neutral-bg2);
  --r-neutral-bg-2-rgb: 12, 15, 31;
  --r-neutral-bg-2: var(--rabby-dark-neutral-bg-2);
  --r-neutral-bg3-rgb: 12, 15, 31;
  --r-neutral-bg3: var(--rabby-dark-neutral-bg3);
  --r-neutral-bg-3-rgb: 12, 15, 31;
  --r-neutral-bg-3: var(--rabby-dark-neutral-bg-3);
  --r-neutral-bg-4-rgb: 12, 15, 31;
  --r-neutral-bg-4: var(--rabby-dark-neutral-bg-4);
  --r-neutral-card1-rgb: 255, 255, 255;
  --r-neutral-card1: var(--rabby-dark-neutral-card1);
  --r-neutral-card-1-rgb: 255, 255, 255;
  --r-neutral-card-1: var(--rabby-dark-neutral-card-1);
  --r-neutral-card2-rgb: 255, 255, 255;
  --r-neutral-card2: var(--rabby-dark-neutral-card2);
  --r-neutral-card-2-rgb: 255, 255, 255;
  --r-neutral-card-2: var(--rabby-dark-neutral-card-2);
  --r-neutral-card3-rgb: 255, 255, 255;
  --r-neutral-card3: var(--rabby-dark-neutral-card3);
  --r-neutral-card-3-rgb: 255, 255, 255;
  --r-neutral-card-3: var(--rabby-dark-neutral-card-3);
  --r-neutral-title2-rgb: 255, 255, 255;
  --r-neutral-title2: var(--rabby-dark-neutral-title2);
  --r-neutral-title-2-rgb: 255, 255, 255;
  --r-neutral-title-2: var(--rabby-dark-neutral-title-2);
  --r-neutral-black-rgb: 0, 0, 0;
  --r-neutral-black: var(--rabby-dark-neutral-black);
  --r-sonic-card-rgb: 33, 34, 38;
  --r-sonic-card: var(--rabby-dark-sonic-card);
  --r-sonic-card-foreground-rgb: 255, 255, 255;
  --r-sonic-card-foreground: var(--rabby-dark-sonic-card-foreground);
  --r-sonic-card-border-rgb: 50, 51, 55;
  --r-sonic-card-border: var(--rabby-dark-sonic-card-border);
  --r-sonic-background-rgb: 20, 20, 22;
  --r-sonic-background: var(--rabby-dark-sonic-background);
  --r-sonic-foreground-rgb: 255, 255, 255;
  --r-sonic-foreground: var(--rabby-dark-sonic-foreground);
  --r-sonic-btn-rgb: 254, 154, 76;
  --r-sonic-btn: var(--rabby-dark-sonic-btn);
  --r-sonic-btn-foreground-rgb: 254, 154, 76;
  --r-sonic-btn-foreground: var(--rabby-dark-sonic-btn-foreground);

  


    --rb-brand-default-rgb: 112, 132, 255;
  --rb-brand-default: var(--rb-dark-brand-default);
  --rb-brand-default-light-rgb: 112, 132, 255;
  --rb-brand-default-light: var(--rb-dark-brand-default-light);
  --rb-brand-default-icon-rgb: 82, 103, 232;
  --rb-brand-default-icon: var(--rb-dark-brand-default-icon);
  --rb-brand-light-1-rgb: 112, 132, 255;
  --rb-brand-light-1: var(--rb-dark-brand-light-1);
  --rb-brand-light-2-rgb: 112, 132, 255;
  --rb-brand-light-2: var(--rb-dark-brand-light-2);
  --rb-brand-disable-rgb: 112, 132, 255;
  --rb-brand-disable: var(--rb-dark-brand-disable);
  --rb-brand-light-4-rgb: 112, 132, 255;
  --rb-brand-light-4: var(--rb-dark-brand-light-4);
  --rb-red-dark-rgb: 199, 21, 10;
  --rb-red-dark: var(--rb-dark-red-dark);
  --rb-red-default-rgb: 255, 69, 58;
  --rb-red-default: var(--rb-dark-red-default);
  --rb-red-light-1-rgb: 255, 115, 107;
  --rb-red-light-1: var(--rb-dark-red-light-1);
  --rb-red-light-2-rgb: 255, 115, 107;
  --rb-red-light-2: var(--rb-dark-red-light-2);
  --rb-red-disable-rgb: 255, 115, 107;
  --rb-red-disable: var(--rb-dark-red-disable);
  --rb-red-light-4-rgb: 255, 115, 107;
  --rb-red-light-4: var(--rb-dark-red-light-4);
  --rb-orange-default-rgb: 255, 159, 10;
  --rb-orange-default: var(--rb-dark-orange-default);
  --rb-orange-light-1-rgb: 255, 170, 39;
  --rb-orange-light-1: var(--rb-dark-orange-light-1);
  --rb-orange-light-2-rgb: 255, 159, 10;
  --rb-orange-light-2: var(--rb-dark-orange-light-2);
  --rb-orange-disable-rgb: 255, 159, 10;
  --rb-orange-disable: var(--rb-dark-orange-disable);
  --rb-orange-light-4-rgb: 255, 159, 10;
  --rb-orange-light-4: var(--rb-dark-orange-light-4);
  --rb-green-default-rgb: 88, 198, 105;
  --rb-green-default: var(--rb-dark-green-default);
  --rb-green-default-light-rgb: 117, 212, 101;
  --rb-green-default-light: var(--rb-dark-green-default-light);
  --rb-green-light-1-rgb: 88, 198, 105;
  --rb-green-light-1: var(--rb-dark-green-light-1);
  --rb-green-light-2-rgb: 88, 198, 105;
  --rb-green-light-2: var(--rb-dark-green-light-2);
  --rb-green-disable-rgb: 88, 198, 105;
  --rb-green-disable: var(--rb-dark-green-disable);
  --rb-green-light-4-rgb: 88, 198, 105;
  --rb-green-light-4: var(--rb-dark-green-light-4);
  --rb-blue-default-rgb: 10, 132, 255;
  --rb-blue-default: var(--rb-dark-blue-default);
  --rb-blue-light-1-rgb: 10, 132, 255;
  --rb-blue-light-1: var(--rb-dark-blue-light-1);
  --rb-blue-light-2-rgb: 10, 132, 255;
  --rb-blue-light-2: var(--rb-dark-blue-light-2);
  --rb-blue-disable-rgb: 10, 132, 255;
  --rb-blue-disable: var(--rb-dark-blue-disable);
  --rb-blue-light-4-rgb: 10, 132, 255;
  --rb-blue-light-4: var(--rb-dark-blue-light-4);
  --rb-neutral-bg-0-rgb: 19, 20, 22;
  --rb-neutral-bg-0: var(--rb-dark-neutral-bg-0);
  --rb-neutral-bg-1-rgb: 19, 20, 22;
  --rb-neutral-bg-1: var(--rb-dark-neutral-bg-1);
  --rb-neutral-bg-2-rgb: 35, 36, 40;
  --rb-neutral-bg-2: var(--rb-dark-neutral-bg-2);
  --rb-neutral-bg-3-rgb: 28, 28, 29;
  --rb-neutral-bg-3: var(--rb-dark-neutral-bg-3);
  --rb-neutral-bg-4-rgb: 56, 59, 65;
  --rb-neutral-bg-4: var(--rb-dark-neutral-bg-4);
  --rb-neutral-bg-5-rgb: 47, 49, 53;
  --rb-neutral-bg-5: var(--rb-dark-neutral-bg-5);
  --rb-neutral-line-rgb: 47, 49, 53;
  --rb-neutral-line: var(--rb-dark-neutral-line);
  --rb-neutral-title-1-rgb: 247, 250, 252;
  --rb-neutral-title-1: var(--rb-dark-neutral-title-1);
  --rb-neutral-title-2-rgb: 255, 255, 255;
  --rb-neutral-title-2: var(--rb-dark-neutral-title-2);
  --rb-neutral-card-1-rgb: 255, 255, 255;
  --rb-neutral-card-1: var(--rb-dark-neutral-card-1);
  --rb-neutral-card-2-rgb: 242, 244, 247;
  --rb-neutral-card-2: var(--rb-dark-neutral-card-2);
  --rb-neutral-body-rgb: 211, 216, 224;
  --rb-neutral-body: var(--rb-dark-neutral-body);
  --rb-neutral-foot-rgb: 186, 190, 197;
  --rb-neutral-foot: var(--rb-dark-neutral-foot);
  --rb-neutral-secondary-rgb: 113, 115, 128;
  --rb-neutral-secondary: var(--rb-dark-neutral-secondary);
  --rb-neutral-info-rgb: 86, 87, 95;
  --rb-neutral-info: var(--rb-dark-neutral-info);
  --rb-neutral-InvertHighlight-rgb: 255, 255, 255;
  --rb-neutral-InvertHighlight: var(--rb-dark-neutral-InvertHighlight);
  --rb-neutral-black-rgb: 0, 0, 0;
  --rb-neutral-black: var(--rb-dark-neutral-black);
  --rb-neutral-bg-gray-rgb: 19, 20, 22;
  --rb-neutral-bg-gray: var(--rb-dark-neutral-bg-gray);
}

