@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './var.less';
@import './antd-overwrite.less';

:root {
  --color-gray: #74767b;
}

html {
  font-size: 4px;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}

.subtitle {
  color: #818A99;
  font-size: 14px;
  line-height: 16px;
}