@primary-color: #8574FE;
@primary-text-color: #8697FF;
@primary-linear: linear-gradient(118.3deg, rgba(124, 103, 255, .85) -9.59%, rgba(89, 74, 255, .84) 108.51%);

.part-border(@width: 90%) {
  position: absolute;
  content: '';
  position: absolute;
  background-color: #D8DFEB;
  height: 0.5px;
  width: @width;
};

.page() {
  min-height: 100vh;
  background-color: #F0F2F5;
}