@import '../../style/var.less';

.section-title {
  font-size: 14px;
  line-height: 16px;
  color: #818A99;
  margin-bottom: 12px;
}

.approval {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .gray-section-block {
    background-color: #F6F7F9;
    border: 1px solid #D8DFEB;
    border-radius: 6px;
  }

  header {
    background: @primary-linear;
    height: 56px;
    padding: 13px 20px;
    color: #fff;
    p {
      margin-bottom: 0;
      &:nth-child(1) {
        opacity: .4;
      }
    }
  }

  .approval-connect {
    padding-top: 40px;
    .connect-card {
      width: 90%;
      margin: 24px auto;
      background-color: #F6F7F9;
      border-radius: 6px;
      padding: 10px;
      .site-info {
        display: flex;
        position: relative;
        padding-bottom: 16px;
        &::after {
          .part-border(328px);
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        .site-info__icon {
          width: 44px;
          margin-left: 6px;
          margin-right: 12px;
          flex-shrink: 0;
        }
        .site-info__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          p {
            margin-bottom: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .site-chain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 6px 6px;
      }
    }
  }

  .site-card {
    width: 100%;
    background-color: #F6F7F9;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    margin-bottom: 24px;
    .icon-site {
      width: 32px;
      margin-right: 8px;
    }
    .site-info {
      flex: 1;
      overflow: hidden;
      p {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .approval-chain {
    padding-top: 40px;
  }

  .approval-text {
    padding: 24px 20px;
    .text-detail-wrapper {
      padding: 16px;
      padding-bottom: 45px;
      margin: 0 auto;
      height: 360px;
      position: relative;
    }
    .text-detail {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      line-height: 20px;
      font-size: 14px;
      height: 299px;
      overflow: auto;
    }
    .text-explain {
      height: 45px;
      left: 20px;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      color: @light-purple;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 14px;
      .icon-question-mark {
        margin-left: 4px;
        width: 12px;
        height: 12px;
      }
    }
  }

  .approval-tx {
    padding: 24px 20px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    .section-title {
      margin-bottom: 8px;
    }
    .view-raw {
      line-height: 16px !important;
    }
    &.pre-process-failed {
      padding-bottom: 200px;
    }
    .send, .approve, .cancel, .cancel-tx {
      .balance-change {
        margin-bottom: 24px;
      }
      .common-detail-block {
        min-height: 120px;
        padding: 24px 16px;
        margin-bottom: 22px;
        .title {
          color: #525966;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 16px;
        }
        p {
          word-break: break-all;
          white-space: pre-wrap;
        }
        .block-field {
          display: flex;
          margin-bottom: 18px;
          .label {
            color: #818A99;
            font-size: 14px;
            width: 90px;
            flex-shrink: 0;
            line-height: 1;
          }
          .value {
            line-height: 1;
            flex: 1;
            color: #525966;
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &.contract {
            .value {
              display: flex;
              align-items: center;
              .address-viewer-text {
                color: #818A99;
                font-size: 13px;
                font-weight: 500;
                margin-right: 0;
              }
              .icon-copy {
                width: 16px;
                height: 16px;
                margin-left: 6px;
                cursor: pointer;
              }
            }
          }
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }
      .protocol {
        display: flex;
        align-items: center;
        .protocol-logo {
          width: 36px;
          height: 36px;
          margin-right: 8px;
          flex-shrink: 0;
        }
        .protocol-info {
          .protocol-info__name {
            color: #525966;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 4px;
            line-height: 1;
          }
          .protocol-info__spender {
            display: flex;
            align-items: center;
            .icon-copy {
              margin-left: 6px;
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
            .address-viewer-text {
              color: #818A99;
              font-size: 13px;
              font-weight: 500;
              margin-right: 0;
            }
          }
        }
      }
    }
    .send {
      .est-price {
        margin: 8px 0 0 0;
        color: #818A99;
        font-size: 12px;
      }
    }
    .cancel-tx {
      .common-detail-block {
        position: relative;
        .icon-cancel-tx {
          position: absolute;
          width: 60px;
          height: 60px;
          right: 16px;
          top: 24px;
          pointer-events: none;
        }
      }
    }
    .approve {
      .protocol {
        .protocol-logo {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          flex-shrink: 0;
        }
        .protocol-info {
          display: flex;
          align-items: center;
          .protocol-info__name {
            font-size: 13px;
            line-height: 1;
            margin-bottom: 0;
            align-items: center;
            .protocol-info__spender {
              margin-left: 8px;
            }
          }
          .address-viewer-text {
            line-height: 1;
          }
        }
      }
      .token-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap !important;
        margin: 0;
        margin-bottom: 4px;
        color: #2D3033;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        .ant-btn-link {
          color: #8697FF;
          font-size: 14px;
          font-weight: normal;
          padding: 0;
          line-height: 1;
          height: auto;
          &::before {
            display: none;
          }
          span {
            text-decoration: underline;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
      .token-value {
        margin: 0;
        color: #818A99;
        font-size: 12px;
        line-height: 14px;
      }
    }
    .sign {
      .common-detail-block {
        padding: 21px 16px;
        margin-bottom: 22px;
        position: relative;
        .block-field {
          display: flex;
          margin-bottom: 18px;
          .label {
            color: #818A99;
            font-size: 14px;
            width: 100px;
            flex-shrink: 0;
            line-height: 1;
          }
          .value {
            line-height: 1;
            flex: 1;
            color: #525966;
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &.contract {
            margin-bottom: 0;
            border-top: 0.5px solid rgba(180, 189, 204, 0.6);
            padding-top: 20px;
            .value {
              display: flex;
              align-items: center;
              .address-viewer-text {
                color: #818A99;
                font-size: 13px;
                font-weight: 500;
                margin-right: 0;
              }
              .icon-copy {
                width: 16px;
                height: 16px;
                margin-left: 6px;
                cursor: pointer;
              }
            }
          }
        }
        .contract-logo {
          position: absolute;
          right: 16px;
          top: 16px;
          width: 60px;
          height: 60px;
          opacity: 0.2;
        }
      }
      .balance-change {
        margin-bottom: 22px;
      }
    }
    .balance-change {
      .balance-change-content {
        padding: 14px;
        ul {
          margin: 0;
          position: relative;
          li {
            font-size: 14px;
            color: #525966;
            margin-bottom: 12px;
            line-height: 1;
            .first-line {
              display: flex;
              justify-content: space-between;
              margin-bottom: 2px;
              .token-amount {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
              }
            }
            .second-line {
              text-align: right;
              font-size: 12px;
              color: #818A99;
              line-height: 14px;
            }
          }
          &:nth-last-child(1) {
            padding-bottom: 16px;
            &::after {
              .part-border(328px);
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            li:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
          &:not(:nth-last-child(1)) {
            padding-bottom: 0;
          }
        }
        .token-symbol {
          color: #818A99;
          width: 120px;
          flex-shrink: 0;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .total-balance-change {
          display: flex;
          justify-content: space-between;
          padding: 16px 0 0;
          .usd-value-change {
            color: #525966;
            font-size: 14px;
            &.red {
              color: #F24822;
            }
            &.green {
              color: #27C193;
            }
          }
        }
      }
      .balance-change_error {
        width: 100%;
        background: rgba(242, 156, 27, 0.1);
        border-radius: 4px;
        color: #F29C1B;
        border: 1px solid rgba(242, 156, 27, 0.2);
        font-size: 14px;
        padding: 14px 16px;
        word-break: break-all;
      }
    }
    .common-detail-block {
      position: relative;
      .speedup-corner {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .watch-operation {
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hardware-operation {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-hardware {
      border-radius: 50%;
      border: 0.5px solid #D8DFEB;
      width: 128px;
      height: 128px;
    }
    .brand-name {
      text-align: center;
      margin: 24px 0 40px 0;
      color: #2D3033;
    }
  }

  footer {
    padding: 20px 20px 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 0.5px solid #D6DFEC;
    width: 100%;
  }

  .force-process {
    margin-bottom: 20px;
    .rabby-checkbox__label {
      color: #818A99;
      font-size: 14px;
    }
  }

  .security-check-bar {
    display: flex;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    .icon-status {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      flex-shrink: 0;
    }
    .alert {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .icon-arrow-right {
      width: 16px;
      height: 16px;
      transform: rotate(-90deg);
    }
    .ant-btn {
      border: 1px solid #8697FF;
      border-radius: 12px;
      background-color: #fff;
      color: #8697FF;
    }
  }
}

.gas-selector {
  display: flex;
  margin-bottom: 20px;
  padding: 16px;
  cursor: pointer;
  .left {
    margin-right: 8px;
    .icon-gas {
      width: 16px;
      height: 16px;
    }
  }
  .gas-info {
    flex: 1;
    line-height: 1;
    p {
      margin-bottom: 4px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    .icon-setting {
      width: 20px;
      height: 20px;
    }
  }
}

.gas-selector-panel {
  .field-slot {
    margin-left: 0;
  }
  .gas-content {
    display: flex;
    align-items: center;
    width: 100%;
    .gas-content__info {
      flex: 1;
    }
    .gas-content__price {
      width: 75px;
      text-align: right;
      font-size: 15px;
      color: #2D3033;
      font-weight: 500;
      padding-right: 16px;
      line-height: 16px;
    }
  }
  .input-wrapper {
    .ant-input {
      padding-right: 0;
      text-align: right;
      max-width: 81px;
      border-radius: 0;
      outline: none;
      height: 24px;
      transition: none;
      border: none;
      font-size: 15px;
      font-weight: 500;
      color: #2D3033;
      padding-left: 0;
      position: relative;
      border-bottom: 0.5px solid #D8DFEB;
      width: 100%;
      .ant-input-number-handler-wrap {
        display: none;
      }
      .ant-input {
        padding-right: 0;
        text-align: right;
        height: auto;
      }
      &::placeholder {
        font-weight: normal;
        color: #B4BDCC;
      }
    }
    .ant-input:focus, .ant-input-focused, .ant-input:hover, .ant-input:focus-visible {
      border: none;
      border-bottom: 0.5px solid #D8DFEB;
    }
  }
  &.invalid {
    .field.border-blue-light {
      border-color: #F24822 !important;
    }
  }
}

.gas-modal {
  .ant-modal-body {
    max-height: 540px;
  }
  .gas-limit {
    .icon-arrow-down {
      transform: rotate(0);
      transition: transform .3s;
      &.expanded {
        transform: rotate(180deg);
      }
    }
    .section-title {
      margin-bottom: 0;
      span:nth-child(2) {
        color: #B4BDCC;
      }
    }
    .gas-limit-panel-wrapper {
      max-height: 0;
      transition: max-height .3s;
      overflow: hidden;
      &.expanded {
        max-height: 320px;
      }
    }
    .gas-limit-panel {
      margin-top: 12px;
      background-color: #fff;
      border-radius: 6px;
      overflow: hidden;
      .ant-input {
        width: 100%;
        padding: 15px;
        border-radius: 0;
        outline: none;
        transition: none;
        border: none;
        font-size: 15px;
        font-weight: 500;
        color: #2D3033;
        position: relative;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: 6px;
        transition: border-color .3s;
        .ant-input-number-handler-wrap {
          display: none;
        }
      }
      .ant-input-number:focus, .ant-input-number-focused, .ant-input-number:hover, .ant-input-number:focus-visible {
        border: none;
      }
      &.ant-form-item-has-error .ant-input {
        border-color: #F24822 !important;
      }
    }
    .tip {
      color: #B4BDCC;
      font-size: 12px;
      font-style: italic;
      margin-top: 12px;
      margin-bottom: 0;
      .recommend-times {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.security-check-drawer {
  .ant-drawer-header {
    border: none;

    .ant-drawer-title {
      font-size: 20px;
      font-weight: 500;
    }
    .icon-drawer-close {
      transform: rotate(90deg);
    }
  }
}

.security-check-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  .container {
    flex: 1;
    overflow: auto;
    .symbol {
      display: inline-block;
      padding: 4px 8px;
      border-radius: 10px;
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      height: 20px;
    }
    .forbidden {
      .symbol {
        background-color: #AF160E;
      }
    }
    .danger {
      .symbol {
        background-color: #F24822;
      }
    }
    .warning {
      .symbol {
        background-color: #F29C1B;
      }
    }
    ul {
      flex: 1;
      margin-left: 8px;
      margin-bottom: 20px;
      border-bottom: 0.5px solid #D8DFEB;
      li {
        color: #525966;
        font-size: 14px;
        margin-bottom: 16px;
        .number {
          font-size: 12px;
          color: #B4BDCC;
        }
      }
    }
  }
  .footer {
    position: relative;
    color: #818A99;
    font-size: 14px;
    padding-top: 4px;
    &::before {
      content: '';
      height: 0.5px;
      background-color: #D8DFEB;
      width: 100vw;
      position: absolute;
      left: -24px;
      top: 0;
    }
    .input-password {
      margin-top: 12px;
      margin-bottom: 20px;
      p {
        margin-bottom: 8px;
      }
      .ant-input {
        background-color: #F6F7F9;
        height: 44px;
      }
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .ant-btn {
        width: 172px;
      }
    }
  }
}

.account-card {
  background: @primary-linear;
  width: 100%;
  height: 100px;
  padding: 16px 20px 20px;
  .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    margin-bottom: 8px;
  }
  .account-detail {
    background-color: rgba(255, 255, 255, 0.1);
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    .icon-account {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    .amount {
      flex: 1;
      text-align: right;
      color: rgba(255, 255, 255, 0.8);
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.text-explain-tooltip {
  max-width: 340px;
  left: 50% !important;
  margin-left: -170px;
  .ant-tooltip-inner {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    border-radius: 16px;
    width: 100%;
    white-space: nowrap;
  }
  .ant-tooltip-arrow {
    display: none;
  }
}

.transaction-detail {
  .ant-modal-confirm-content {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
  }
}

.edit-approve-amount-modal {
  .ant-form-item {
    background-color: #fff;
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 0;
  }
  .est-approve-price {
    margin: 8px 0 0 0;
    color: #818A99;
    font-size: 12px;
    text-align: right;
  }
  .ant-input-group-wrapper {
    position: relative;
    .ant-input {
      color: #2D3033;
      font-size: 20px;
      padding: 0;
      width: 264px;
      border-radius: 0;
    }
    .ant-input-group-addon {
      background: transparent;
      border: none;
      font-size: 15px;
      color: #818A99;
      padding-right: 0;
    }
    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(270deg, #FFFFFF 11.22%, rgba(255, 255, 255, 0.2) 100%);
      width: 76px;
      height: 31px;
      left: 188px;
      top: 0;
      z-index: 999;
      pointer-events: none;
    }
  }
}

.watchaddress {
  &-header {
    background: linear-gradient(97.59deg, #8BA8FF 0%, #8C96FF 99.49%);
    width: 100%;
    height: 80px;
    color: #fff;
    position: relative;
    .icon-header {
      padding-top: 26px;
    }
    .mask {
      position: absolute;
      user-select: none;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .watchaddress-type-list {
      display: flex;
      position: relative;
      li {
        margin-right: 24px;
        opacity: 0.4;
        cursor: pointer;
        user-select: none;
        .brand-logo {
          width: 32px;
          height: 32px;
          border-radius: 2px;
        }
        &:nth-last-child(1) {
          margin-right: 0;
        }
        &.active {
          opacity: 1;
          cursor: default;
        }
      }
    }
    .select-corner {
      position: absolute;
      bottom: 0;
      left: 32px;
      transform: translateX(0);
      transition: transform .3s;
      &__inner {
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        transform-origin: bottom left;
        background: #FFFFFF;
        border-radius: 1px;
      }
    }
  }
  .watchaddress-scan {
    padding: 40px 0 0;
    &__qrcode {
      width: 240px;
      height: 240px;
      border: 1px solid #D8DFEB;
      border-radius: 12px;
      margin: 0 auto;
      padding: 16px;
    }
    &__refresh {
      display: flex;
      margin: 24px 0 44px;
      align-items: center;
      justify-content: center;
      .ant-btn-link {
        padding: 0;
        color: #818A99;
        font-weight: normal;
        span {
          text-decoration: underline;
        }
        &:hover {
          color: #818A99;
          &::before {
            display: none;
          }
        }
      }
      .icon-refresh {
        margin-right: 6px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        path {
          fill: #818A99;
        }
      }
    }
    &__guide {
      font-size: 15px;
      color: #525966;
      padding: 25px 24px;
      p {
        margin-bottom: 10px;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    &__tip {
      color: #B4BDCC;
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      margin-top: 73px;
    }
  }
  .watchaddress-process {
    padding: 48px 0 0;
    &__status {
      width: 304px;
      margin: 0 auto 28px;
    }
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      margin: 0 0 24px;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      .ant-btn-link {
        color: #818A99;
        margin-top: 12px;
        &:hover {
          color: #818A99;
          background-color: transparent;
        }
        &::before {
          display: none;
        }
        span {
          text-decoration: underline;
        }
      }
    }
    &__result {
      display: flex;
      justify-content: center;
      margin-top: 56px;
      .icon-chain {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      .tx-hash {
        color: #525966;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-decoration: underline;
      }
      .icon-external {
        display: inline-block;
        margin-left: 8px;
        path {
          fill: #818A99;
        }
      }
    }
    .watchaddress-process__ok {
      margin-top: 56px;
      display: flex;
      justify-content: center;
    }
    .error-alert {
      background: rgba(242, 72, 34, 0.1);
      border: 0.5px solid rgba(242, 72, 34, 0.5);
      border-radius: 4px;
      text-align: center;
      width: 352px;
      margin: 0 auto;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #F24822;
      p {
        margin-bottom: 0;
        &:not(nth-child(1)) {
          margin-top: 6px;
        }
      }
    }
  }
}

.speedup-corner-tooltip {
  .ant-tooltip-arrow {
    transform: translateX(0);
    left: auto;
    right: 45px;
  }
}
.watcSign__tooltip {
  width: 360px !important;
  left: 15px !important;
  top: 621px !important;
  border-radius: 2px;
  .ant-tooltip-content {
    width: 360px !important;
    height:48px !important;
    background-color: rgba(45, 48, 51, 0.95);
    transform: translate(5px, 5px);
  }
  .ant-tooltip-arrow {
    transform: translateX(0);
    left: auto;
    right: 40px;
    top: 48px;
  }
}
