@import '../../style/var.less';

.approval {
  min-height: 100vh;

  header {
    background: @primary-linear;
    height: 56px;
    padding: 13px 20px;
    color: #fff;
    p {
      margin-bottom: 0;
      &:nth-child(1) {
        opacity: .4;
      }
    }
  }

  .approval-connect {
    padding-top: 40px;
    .connect-card {
      width: 90%;
      margin: 24px auto;
      background-color: #F6F7F9;
      border-radius: 6px;
      padding: 16px;
      .site-info {
        display: flex;
        position: relative;
        padding-bottom: 16px;
        &::after {
          .part-border(100% );
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        .site-info__icon {
          width: 52px;
          height: 52px;
          border-radius: 100%;
          border: 1px solid #D8DFEB;
          margin-right: 12px;
        }
        .site-info__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          p {
            margin-bottom: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .site-chain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        .chain-selector {
          padding: 0;
        }
      }
    }
  }

  .site-card {
    width: 100%;
    background-color: #F6F7F9;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    margin-bottom: 24px;
    .icon-site {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 1px solid #D8DFEB;
      margin-right: 8px;
    }
    .site-info {
      flex: 1;
      overflow: hidden;
      p {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .approval-text {
    padding: 12px 20px;
    .text-detail {
      padding: 16px;
      background-color: #F6F7F9;
      border-radius: 6px;
      margin: 24px auto 0;
      white-space: pre-line;
      overflow-wrap: break-word;
      max-height: 157px;
      overflow: auto;
    }
  }

  .approval-tx {
    padding: 12px 20px;
    .site-card {
      .chain-info {
        color: #525966;
        font-size: 12px;
        display: flex;
        align-items: center;
        .icon-chain {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
    .tx-header {
      margin-bottom: 24px;
      text-align: center;
    }
    .tx-subtitle {
      margin-bottom: 8px;
    }
    .tx-target {
      background: #F6F7F9;
      border-radius: 6px;
      padding: 12px;
      font-weight: 500;
      font-size: 13px;
      color: #525966;
      .tags {
        display: flex;
        margin-top: 8px;
        margin-bottom: 0;
        li {
          font-size: 12px;
          padding: 3px 8px;
          color: #818A99;
          margin-right: 8px;
          border: 0.5px solid #B4BDCC;
          border-radius: 10px;
        }
      }
    }
  }

  .hardware-operation {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    .icon-hardware {
      width: 128px;
      height: 128px;
    }
    .brand-name {
      text-align: center;
      margin: 24px 0 40px 0;
      color: #2D3033;
    }
  }

  footer {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 0.5px solid #D8DFEB;
    width: 100%;
  }

  .security-check-bar {
    display: flex;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    width: 100%;
    overflow: hidden;
    .icon-status {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      flex-shrink: 0;
    }
    .alert {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .icon-arrow-right {
      width: 16px;
      height: 16px;
    }
  }
}

.gas-selector {
  display: flex;
  margin-bottom: 20px;
  .left {
    margin-right: 8px;
    .icon-gas {
      width: 16px;
      height: 16px;
    }
  }
  .gas-info {
    flex: 1;
    p {
      margin-bottom: 4px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
  .right {
    cursor: pointer;
    .icon-setting {
      width: 16px;
      height: 16px;
    }
  }
}

.gas-selector-panel {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 160px;
    margin-right: 8px;
    background-color: #fff;
    margin-bottom: 8px;
    border-radius: 6px;
    padding: 16px;
    cursor: pointer;
    .title {
      color: #2D3033;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
    }
    .time, .tx-count {
      color: #818A99;
      font-size: 12px;
      .icon {
        width: 12px;
        height: 12px;
        margin-right: 6px;
      }
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &.chekced {
      border: 1px solid #8697FF;
      .title {
        color: #8697FF;
      }
    }
  }
}

.gas-modal {
  .ant-modal-body {
    padding: 16px;
  }
}