@import '../../style/var.less';

.section-title {
  font-size: 14px;
  line-height: 16px;
  color: #818A99;
  margin-bottom: 12px;
}

.approval {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .gray-section-block {
    background-color: #F6F7F9;
    border: 1px solid #D8DFEB;
    border-radius: 6px;
  }

  header {
    background: @primary-linear;
    height: 56px;
    padding: 13px 20px;
    color: #fff;
    p {
      margin-bottom: 0;
      &:nth-child(1) {
        opacity: .4;
      }
    }
  }

  .approval-connect {
    padding-top: 40px;
    .connect-card {
      width: 90%;
      margin: 24px auto;
      background-color: #F6F7F9;
      border-radius: 6px;
      padding: 16px 10px 10px;
      .site-info {
        display: flex;
        position: relative;
        padding-bottom: 16px;
        &::after {
          .part-border(328px);
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        .site-info__icon {
          width: 44px;
          margin-left: 6px;
          margin-right: 12px;
          flex-shrink: 0;
        }
        .site-info__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          p {
            margin-bottom: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .site-chain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 6px 6px;
        .chain-selector {
          padding: 0;
        }
      }
    }
  }

  .site-card {
    width: 100%;
    background-color: #F6F7F9;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    margin-bottom: 24px;
    .icon-site {
      width: 32px;
      margin-right: 8px;
    }
    .site-info {
      flex: 1;
      overflow: hidden;
      p {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .approval-chain {
    padding-top: 40px;
  }

  .approval-text {
    padding: 24px 20px;
    .text-detail-wrapper {
      padding: 16px;
      padding-bottom: 45px;
      margin: 0 auto;
      height: 360px;
      position: relative;
    }
    .text-detail {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      line-height: 20px;
      font-size: 14px;
      height: 299px;
      overflow: auto;
    }
    .text-explain {
      height: 45px;
      left: 20px;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      color: @light-purple;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 14px;
      .icon-question-mark {
        margin-left: 4px;
        width: 12px;
        height: 12px;
      }
    }
  }

  .approval-tx {
    padding: 24px 20px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    &.pre-process-failed {
      padding-bottom: 200px;
    }
    .send, .approve, .cancel, .cancel-tx {
      .balance-change {
        margin-bottom: 24px;
      }
      .common-detail-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 147px;
        padding: 0 16px;
        margin-bottom: 24px;
        .title {
          color: #525966;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 16px;
        }
        p {
          word-break: break-all;
          white-space: pre-wrap;
        }
      }
      .protocol {
        display: flex;
        align-items: center;
        .protocol-logo {
          width: 36px;
          height: 36px;
          margin-right: 8px;
          flex-shrink: 0;
        }
        .protocol-info {
          .protocol-info__name {
            color: #525966;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 4px;
            line-height: 1;
          }
          .protocol-info__spender {
            display: flex;
            align-items: center;
            .icon-copy {
              margin-left: 6px;
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
            .address-viewer-text {
              color: #818A99;
              font-size: 13px;
              font-weight: 500;
              margin-right: 0;
            }
          }
        }
      }
    }
    .sign {
      .common-detail-block {
        padding: 21px 16px;
        margin-bottom: 24px;
        position: relative;
        .block-field {
          display: flex;
          margin-bottom: 18px;
          .label {
            color: #818A99;
            font-size: 14px;
            width: 100px;
            flex-shrink: 0;
            line-height: 1;
          }
          .value {
            line-height: 1;
            flex: 1;
            color: #525966;
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &.contract {
            margin-bottom: 0;
            border-top: 0.5px solid rgba(180, 189, 204, 0.6);
            padding-top: 20px;
            .value {
              display: flex;
              align-items: center;
              .address-viewer-text {
                color: #818A99;
                font-size: 13px;
                font-weight: 500;
                margin-right: 0;
              }
              .icon-copy {
                width: 16px;
                height: 16px;
                margin-left: 6px;
                cursor: pointer;
              }
            }
          }
        }
        .contract-logo {
          position: absolute;
          right: 16px;
          top: 16px;
          width: 60px;
          height: 60px;
          opacity: 0.2;
        }
      }
      .balance-change {
        margin-bottom: 24px;
      }
    }
    .balance-change {
      .balance-change-content {
        padding: 16px;
        ul {
          margin: 0;
          position: relative;
          li {
            font-size: 14px;
            color: #525966;
            margin-bottom: 12px;
            line-height: 1;
            .first-line {
              display: flex;
              justify-content: space-between;
              margin-bottom: 2px;
              .token-amount {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
              }
            }
            .second-line {
              text-align: right;
              font-size: 12px;
              color: #818A99;
              line-height: 14px;
            }
          }
          &:nth-last-child(1) {
            padding-bottom: 16px;
            &::after {
              .part-border(328px);
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            li:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
          &:not(:nth-last-child(1)) {
            padding-bottom: 0;
          }
        }
        .token-symbol {
          color: #818A99;
          width: 120px;
          flex-shrink: 0;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .total-balance-change {
          display: flex;
          justify-content: space-between;
          padding: 16px 0 0;
          .usd-value-change {
            color: #525966;
            font-size: 14px;
            &.red {
              color: #F24822;
            }
            &.green {
              color: #27C193;
            }
          }
        }
      }
      .balance-change_error {
        width: 360px;
        background: rgba(242, 156, 27, 0.1);
        border-radius: 4px;
        color: #F29C1B;
        border: 1px solid rgba(242, 156, 27, 0.2);
        font-size: 14px;
        padding: 14px 16px;
      }
    }
  }
  .watch-operation {
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hardware-operation {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-hardware {
      border-radius: 50%;
      border: 0.5px solid #D8DFEB;
      width: 128px;
      height: 128px;
    }
    .brand-name {
      text-align: center;
      margin: 24px 0 40px 0;
      color: #2D3033;
    }
  }

  footer {
    padding: 20px 20px 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 0.5px solid #D8DFEB;
    width: 100%;
  }

  .force-process {
    margin-bottom: 20px;
    .rabby-checkbox__label {
      color: #818A99;
      font-size: 14px;
    }
  }

  .security-check-bar {
    display: flex;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    .icon-status {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      flex-shrink: 0;
    }
    .alert {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .icon-arrow-right {
      width: 16px;
      height: 16px;
    }
    .ant-btn {
      border: 1px solid #8697FF;
      border-radius: 12px;
      background-color: #fff;
      color: #8697FF;
    }
  }
}

.gas-selector {
  display: flex;
  margin-bottom: 20px;
  padding: 16px;
  .left {
    margin-right: 8px;
    .icon-gas {
      width: 16px;
      height: 16px;
    }
  }
  .gas-info {
    flex: 1;
    p {
      margin-bottom: 4px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    cursor: pointer;
    .icon-setting {
      width: 16px;
      height: 16px;
    }
  }
}

.gas-selector-panel {
  .field-slot {
    margin-left: 0;
  }
  .gas-content {
    display: flex;
    align-items: center;
    width: 100%;
    .gas-content__info {
      flex: 1;
    }
    .gas-content__price {
      width: 60px;
      text-align: right;
      font-size: 15px;
      color: #2D3033;
      font-weight: 500;
      padding-right: 16px;
      line-height: 16px;
    }
  }
  .input-wrapper {
    .ant-input-number {
      padding-right: 0;
      text-align: right;
      max-width: 81px;
      border-radius: 0;
      outline: none;
      height: 24px;
      transition: none;
      border: none;
      font-size: 15px;
      font-weight: 500;
      color: #2D3033;
      padding-left: 0;
      position: relative;
      border-bottom: 0.5px solid #D8DFEB;
      width: 100%;
      .ant-input-number-handler-wrap {
        display: none;
      }
      .ant-input-number-input {
        padding-right: 0;
        text-align: right;
        height: auto;
      }
    }
    .ant-input-number:focus, .ant-input-number-focused, .ant-input-number:hover, .ant-input-number:focus-visible {
      border: none;
      border-bottom: 0.5px solid #D8DFEB;
    }
  }
}

.gas-modal {
  .ant-modal-body {
    max-height: 520px;
  }
  .gas-limit {
    .icon-arrow-down {
      transform: rotate(0);
      transition: transform .3s;
      &.expanded {
        transform: rotate(180deg);
      }
    }
    .section-title {
      margin-bottom: 0;
    }
    .gas-limit-panel-wrapper {
      max-height: 0;
      transition: max-height .3s;
      overflow: hidden;
      &.expanded {
        max-height: 100px;
      }
    }
    .gas-limit-panel {
      margin-top: 12px;
      background-color: #fff;
      border-radius: 6px;
      overflow: hidden;
      .ant-input-number {
        width: 100%;
        padding: 15px;
        border-radius: 0;
        outline: none;
        transition: none;
        border: none;
        font-size: 15px;
        font-weight: 500;
        color: #2D3033;
        position: relative;
      }
      .ant-input-number:focus, .ant-input-number-focused, .ant-input-number:hover, .ant-input-number:focus-visible {
        border: none;
      }
    }
    .tip {
      color: #B4BDCC;
      font-size: 12px;
      font-style: italic;
      margin-top: 12px;
      margin-bottom: 0;
    }
  }
}

.security-check-drawer {
  .ant-drawer-header {
    border: none;

    .ant-drawer-title {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.security-check-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  .container {
    flex: 1;
    overflow: auto;
    .symbol {
      display: inline-block;
      padding: 4px 8px;
      border-radius: 10px;
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      height: 20px;
    }
    .forbidden {
      .symbol {
        background-color: #AF160E;
      }
    }
    .danger {
      .symbol {
        background-color: #F24822;
      }
    }
    .warning {
      .symbol {
        background-color: #F29C1B;
      }
    }
    ul {
      flex: 1;
      margin-left: 8px;
      margin-bottom: 20px;
      border-bottom: 0.5px solid #D8DFEB;
      li {
        color: #525966;
        font-size: 14px;
        margin-bottom: 16px;
        .number {
          font-size: 12px;
          color: #B4BDCC;
        }
      }
    }
  }
  .footer {
    position: relative;
    color: #818A99;
    font-size: 14px;
    padding-top: 4px;
    &::before {
      content: '';
      height: 0.5px;
      background-color: #D8DFEB;
      width: 100vw;
      position: absolute;
      left: -24px;
      top: 0;
    }
    .input-password {
      margin-top: 12px;
      margin-bottom: 20px;
      p {
        margin-bottom: 8px;
      }
      .ant-input {
        background-color: #F6F7F9;
        height: 44px;
      }
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .ant-btn {
        width: 172px;
      }
    }
  }
}

.account-card {
  background: @primary-linear;
  width: 100%;
  height: 100px;
  padding: 16px 20px 20px;
  .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    margin-bottom: 8px;
  }
  .account-detail {
    background-color: rgba(255, 255, 255, 0.1);
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    .icon-account {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    .amount {
      flex: 1;
      text-align: right;
      color: rgba(255, 255, 255, 0.8);
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.text-explain-tooltip {
  max-width: 340px;
  left: 50% !important;
  margin-left: -170px;
  .ant-tooltip-inner {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    border-radius: 16px;
    width: 100%;
    white-space: nowrap;
  }
  .ant-tooltip-arrow {
    display: none;
  }
}

.transaction-detail {
  .ant-modal-confirm-content {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
  }
}
