.ant-dropdown-menu.mnemonics-input-menu {
    .ant-dropdown-menu-item .text-wrapper {
        height: 100%;
        padding: 11px 8px;
        line-height: 1.2;
        &:hover {
            background-color: var(--r-blue-light-1, #eef1ff);
        }
    }

    .ant-dropdown-menu-item .text-wrapper.show-more {
        height: auto;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        line-height: 18px;
        font-size: 12px;
        color: var(--r-neutral-foot, #8697b1);
        &:hover {
            background-color: transparent;
        }
    }
}
