.ant-dropdown-menu.mnemonics-input-menu {
    .ant-dropdown-menu-item .text-wrapper {
        height: 100%;
        padding: 11px 8px;
        line-height: 1.2;
        &:hover {
            background-color: var(--r-blue-light-1, #eef1ff);
        }
    }
}