@media screen and (min-width: 600px) {
  .multiselect-address {
    background-color: #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.multiselect-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    &-index {
      margin-right: 30px;
    }
  }
}