@import '../../style/mixin.less';

.connected-sites {
  .page();
  padding: 0 20px 20px;
  position: relative;
  .field {
    padding: 11px 12px;
    margin-bottom: 12px;
    min-height: 52px;
    .cross-icon:hover {
      color: var(--r-blue-default, #7084ff) !important;
    }
    &:nth-last-child(1) {
      margin-bottom: 12px;
    }
    .site-info {
      width: 100%;
      padding-right: 5px;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
      }
    }
  }
  .no-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .no-data-image {
      width: 156px;
      height: 152px;
      margin-bottom: 32px;
    }
  }
}
