.add-address-options {
  .field {
    margin-bottom: 12px;
    font-weight: 500;
    .left-icon {
      .icon {
        width: 28px;
        height: 28px;
      }
    }
    .right-icon {
      .icon {
        width: 12px;
        height: 12px;
      }
    }
  }
}