.add-address-options {
  background: #FFFFFF;
  border-radius: 6px;
  height:100%;
  .connect-hint {
    padding: 10px 0 0 16px;
    font-size: 12px;
    color: #B4BDCC;

  }
  .field {
    margin-bottom: 12px;
    font-weight: 500;
    border: 1px solid #FFFFFF;
    .left-icon {
      .icon {
        width: 28px;
        height: 28px;
      }
      .wallet-icon {
        border-radius: 100%;
      }
    }
    .right-icon {
      .icon {
        width: 16px;
        height: 16px;
      }
    }
    &:hover {
      border-color: #8697FF;
      background: rgba(134, 151, 255, 0.1);
    }
  }
  .divide-line-list {
    border: 1px solid #E5E9EF;
    width: 300px;
    margin: 0 16px 20px;
  }
}
.saved-list {
  margin-bottom: 12px;
  background: #FFFFFF;
  border-radius: 6px;
  .field {
    margin-bottom: 12px;
    font-weight: 500;
    border: 1px solid #FFFFFF;
    .left-icon {
      .icon {
        width: 28px;
        height: 28px;
      }
      .wallet-icon {
        border-radius: 100%;
      }
    }
    .right-icon {
      .icon {
        width: 16px;
        height: 16px;
      }
    }
    &:hover {
      border-color: #8697FF;
      background: rgba(134, 151, 255, 0.1);
    }
  }
}