@import '../../style/var.less';

.chain-selector {
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  -webkit-user-select: none;
  background: rgba(134, 151, 255, 0.12);
  border: 1px solid #E5E9EF;
  border-radius: 6px;
  padding: 8px 4px 8px 8px;
  font-weight: 500;
  .chain-logo {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
  .icon {
    width: 16px;
    height: 16px;
    margin-left: 2px;
  }
}

.hover {
  background: rgba(134, 151, 255, 0.1);
  border: 1px solid rgba(134, 151, 255, 0.5);
}
.chain-selector-options {
  width: 100%;
  max-height: 376px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.chain-selector__modal {
  .ant-drawer-content-wrapper {
    max-height: calc(100vh - 40px);
    height: 494px !important;
  }
  header {
    padding-top: 8px;
    padding-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    .ant-input-affix-wrapper {
      border: 1px solid #e5e9ef;
      border-radius: 6px;
      height: 36px;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
      border-color: #b0bdff;
    }
  }
  .ant-drawer-header {
    padding: 12px 20px;
    background: linear-gradient(
      180deg,
      #eff1ff 0%,
      rgba(238, 234, 255, 0) 111.46%
    );
    border: none;
    .chain-selector-tips {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: @color-comment-1;
      margin-bottom: 2px;
    }
    .chain-selector-site {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: @color-title;
    }
  }
  .ant-drawer-body {
    padding-top: 0 !important;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
  .ant-drawer-content {
    border-radius: 16px 16px 0 0;
  }
  .no-pinned-container {
    width: 360px;
    height: 56px;
    background: @color-bg;
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: @color-comment-1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .cardg {
    background: @color-bg;
  }
  .all-chais {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 16px;

    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: @color-comment-1;
      cursor: pointer;
    }
  }
  .ant-modal-body {
    max-height: 450px;
  }
  .tip {
    margin-top: 16px;
  }
}
.chain-tag-selector {
  min-width: 116px;
  display: inline-flex;
  height: 40px;
  background: #9ba9fd;
  border-radius: 6px 6px 0px 0px;
  padding: 8px 6px 8px 12px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  .chain-tag-selector__name {
    color: #fff;
    font-weight: 500;
    margin-left: 5px;
  }
  .icon-arrow-down {
    path {
      width: 14px;
      height: 14px;
      fill: #fff;
    }
  }
}

.select-chain {
  &-list {
    background: #f5f6fa;
    border-radius: 6px;
    & + & {
      margin-top: 24px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    border: 1px solid transparent;
    height: 56px;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 16px;
      right: 16px;
      border-bottom: 1px solid @color-border;
    }

    .chain-icon-comp {
      img {
        width: 28px;
        height: 28px;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
    &-info {
      margin-left: 12px;
    }
    &-name {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: @color-title;
    }
    &-balance {
      color: #707280;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &-star {
      margin-left: 8px;
      display: none;
    }
    &-checked {
      margin-left: 16px;
    }
    &:hover {
      // background: rgba(134, 151, 255, 0.1);
      background-color: #dce0f9;
      border: 1px solid var(--brand-default, #7084ff);
      &::after {
        display: none;
      }
      .select-chain-item-star {
        display: block;
      }
    }
    &:last-child::after {
      display: none;
    }
  }
}
