@import '../../style/var.less';

.chain-selector {
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  -webkit-user-select: none;
  background: rgba(134, 151, 255, 0.12);
  border: 1px solid rgba(134, 151, 255, 0.4);
  box-shadow: 0px 2px 12px rgba(134, 151, 255, 0.12);
  border-radius: 5px;
  padding: 4px 0 4px 12px;
  font-weight: 500;
  .chain-logo {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }
  .icon-arrow-down {
    fill: #8697ff;
    width: 12px;
    height: 12px;
    margin: 0 10px 0 12px;
    transition: transform 0.3s;
    transform: rotate(0);
  }
  &.active {
    .icon-arrow-down {
      transform: rotate(180deg);
    }
  }
}

.hover {
  background: rgba(134, 151, 255, 0.5);
  border: 1px solid rgba(134, 151, 255, 0.4);
  box-shadow: 0px 2px 12px rgba(134, 151, 255, 0.12);
  border-radius: 5px;
}
.chain-selector-options {
  width: 100%;
  max-height: 376px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.chain-selector__modal {
  .ant-drawer-body {
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
  .ant-drawer-content {
    border-radius: 16px 16px 0 0;
  }
  .no-pinned-container {
    width: 360px;
    height: 56px;
    background: #f5f6fa;
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #707280;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .cardg {
    background: #f5f6fa;
  }
  .all-chais {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    display: flex;
    span {
      margin: 10px 150px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #707280;
      cursor: pointer;
    }
  }
  .ant-modal-body {
    max-height: 450px;
  }
  .tip {
    margin-top: 16px;
  }
}
.chain-tag-selector {
  width: 116px;
  height: 40px;
  background: #9ba9fd;
  border-radius: 6px 6px 0px 0px;
  padding: 8px 6px 8px 12px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  .chain-tag-selector__name {
    color: #fff;
    font-weight: 500;
    margin-left: 5px;
  }
  .icon-arrow-down {
    path {
      width: 14px;
      height: 14px;
      fill: #fff;
    }
  }
}
