.page-address-backup {
  .page();
  height: 100vh;
  overflow: auto;

  header {
    background-color: var(--r-blue-default, #7084ff);
    text-align: center;
    padding: 18px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 0 -20px 20px;
    height: 60px;

    color: var(--r-neutral-title2, #FFF);
  }

  .alert {
    padding: 12px;
    border-radius: 4px;
    background: var(--r-red-light, #4D3E43);
    color: var(--r-red-default, #EF5C48);
    display: flex;
    gap: 8px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .qrcode {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    padding: 10px;
    border: none !important;
  }

  .private-key {
    background: var(--r-neutral-card1, #fff);
    color: var(--r-neutral-body, #D3D8E0);
    border-radius: 6px;
    height: 80px;
    position: relative;
    padding: 12px;
    word-wrap: break-word;
    overflow: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    .icon-copy {
      position: absolute;
      right: 12px;
      bottom: 12px;
      width: 16px;
      height: 16px;
    }
    &-mask {
      height: 100%;
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: var(--r-neutral-body, #D3D8E0);
        }
      }
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;
    }
  }
  .mask {
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    backdrop-filter: blur(120px);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
  }
  .copy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: @color-comment-1;
    gap: 6px;
    cursor: pointer;
    margin-top: 16px;
  }

  .footer {
    width: 100%;
    padding: 20px;
    background-color: var(--r-neutral-bg-1, #fff);
    text-align: center;
    position: fixed;
    left: 0; bottom: 0;
  }
}
