@import '../../style/var.less';

.settings {
  padding: 0 20px;
  min-height: 100vh;
  background-color: @color-bg;
  .lock-wallet {
    margin-bottom: 32px;
    font-weight: 500;
    height: 56px;
    .icon-lock {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      margin-left: -24px;
    }
  }
  .field {
    margin-bottom: 12px;
    .left-icon {
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .right-icon {
      .icon {
        width: 12px;
        height: 12px;
      }
    }
  }
  .address-viewer-text.normal {
    font-size: 13px;
    line-height: 15px;
    color: @color-title;
  }
  .walletconnect-connector {
    .left-icon {
      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.openapi-modal {
  .ant-modal-body {
    padding-top: 28px;
    .ant-input {
      background: #f5f6fa;
      border: 1px solid #e5e9ef;
      border-radius: 6px;
      &:focus,
      &.ant-input-focused {
        border-color: #b0bdff;
      }
    }
  }
  .ant-form-item {
    margin-bottom: 8px;
  }
  .restore {
    padding: 0;
    line-height: 1;
    height: auto;
    &::before {
      display: none;
    }
    span {
      font-size: 12px;
      line-height: 14px;
      color: #707880;
      text-decoration: underline;
      font-weight: normal;
    }
  }
}
