.chain-card {
  width: 164px;
  height: 52px;
  background: #ffffff;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px;
  padding:12px 8px 12px 16px;
  border: 1px solid transparent;
  &.hover {
    background: rgba(134, 151, 255, 0.1);
    border: 1px solid #8697FF;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .chain-name {
    margin-left: 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #13141A;
  }
  .chain-logo {
      width: 28px;
      height: 28px;
  }
}
.pinned {
  background: #f5f6fa;
}
