.rabby-loading {
  text-align: center;

  &-image {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
    height: 36px;
    animation: spining 1s linear infinite;
  }
  &-text {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: @color-body;
  }
}
