@import '../../style/var.less';

.swap {
  .page();
  padding: 0 16px;
  .chain-tag-selector {
    margin-bottom: -10px;
  }
  .swap-section {
    background-color: #fff;
    width: 100%;
    padding: 16px 12px;
    border-radius: 6px;
    .from-balance {
      display: flex;
      justify-content: flex-end;
      color: rgba(112, 120, 128, .6);
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 8px;
      text-decoration: underline;
    }
    .from-token, .to-token {
      display: flex;
      color: rgba(112, 120, 128, .6);
      font-size: 12px;
      line-height: 14px;
      &__name {
        text-decoration: underline;
      }
      &__usdvalue {
        flex: 1;
        text-align: right;
      }
    }
    &.price-slippage-section {
      margin-top: 16px;
      .section-title {
        font-size: 12px;
        line-height: 14px;
        color: #A9AEB3;
        margin-bottom: 8px;
      }
    }
  }
  .swap-arrow {
    display: flex;
    justify-content: center;
    margin-top: -4px;
    margin-bottom: 12px;
    .icon-swap-arrow {
      width: 28px;
      height: 28px;
    }
  }
  .readonly-token-amount {
    margin-bottom: 8px;
  }
  .footer {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
}

.token-popover {
  width: 344px;
  left: 16px !important;
  font-size: 12px;
  line-height: 14px;
  .ant-popover-inner {
    background-color: rgba(45, 48, 51, .95);
    .ant-popover-inner-content {
      color: #fff;
      padding: 12px;
      .token-popover-content {
        p {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
          span {
            display: flex;
          }
          .address-viewer-text.normal {
            font-size: 12px;
            line-height: 14px;
            font-weight: normal;
            margin-right: 6px;
          }
          .icon-copy {
            cursor: pointer;
            width: 14px;
            height: 14px;
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
  .ant-popover-arrow {
    border-right-color: rgba(45, 48, 51, .95) !important;
    border-bottom-color: rgba(45, 48, 51, .95) !important;
  }
}