.no-address {
  .header {
    background: linear-gradient(97.59deg, #8BA8FF 0%, #8C96FF 99.49%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
  }
  .options{
    padding: 20px;
  }
}