.token-with-chain {
  position: relative;
  .token-symbol, .chain-symbol {
    border-radius: 100%;
  }
  .chain-symbol {
    width: 14px;
    height: 14px;
    position: absolute;
    right: -2px;
    top: -2px;
  }
  .no-round {
    border-radius: 4px !important;
  }
}
