.token-with-chain {
  position: relative;
  .token-symbol, .chain-symbol {
    border-radius: 100%;
  }
  .chain-symbol {
    width: 16px;
    height: 16px;
    position: absolute;
    right: -8px;
    top: -8px;
  }
}