.custom-popup {
  .ant-drawer-mask {
    background-color: rgba(45, 48, 51, 0.2);
  }
  .ant-drawer-content {
    flex: 1;
    background-color: #fff;
    background: #ffffff;
    border-radius: 16px 16px 0px 0px;
  }
}
