.custom-popup {
  .ant-drawer-mask {
    background-color: rgba(45, 48, 51, 0.2);
  }
  .ant-drawer-content {
    flex: 1;
    background-color: #fff;
    background: #ffffff;
    box-shadow: 0px -12px 20px rgba(35, 47, 129, 0.1);
    border-radius: 16px 16px 0px 0px;
  }
}
