@import '../../style/var.less';

.text-history {
  display: flex;
  flex-direction: column;
  &__item {
    padding: 12px;
    background: var(--r-neutral-card-1, rgba(255, 255, 255, 0.06));
    box-shadow: 0px 6px 20px rgba(45, 48, 51, 0.08);
    border-radius: 6px;
    margin-bottom: 12px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &--content {
      max-height: 120px;
      min-height: 20px;
      overflow: hidden;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: var(--r-neutral-title-1, #F7FAFC);
      word-break: break-all;
      white-space: pre-wrap;
      margin-bottom: 12px;
      position: relative;
      .icon-gray {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        display: none;
        cursor: pointer;
        user-select: none;
      }
      &:hover {
        .icon-gray {
          display: block;
        }
      }
    }
    &--footer {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      line-height: 14px;
      color: var(--r-neutral-foot, #BABEC5);
      .site {
        display: flex;
        .fallback-site-logo {
          margin-right: 8px;
        }
      }
      .link {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .no-data {
      width: 100px;
      height: 100px;
      margin: 135px auto 0;
    }
  }
}
