@import '../../style/var.less';

.text-history {
  .page();
  display: flex;
  flex-direction: column;
  padding: 0 28px 23px;
  &__item {
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(45, 48, 51, 0.08);
    border-radius: 6px;
    margin-bottom: 12px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &--content {
      max-height: 120px;
      overflow: hidden;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #4B4D59;
      word-break: break-all;
      white-space: pre-wrap;
      margin-bottom: 12px;
    }
    &--footer {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      line-height: 14px;
      color: #707880;
      .site {
        display: flex;
        .fallback-site-logo {
          margin-right: 8px;
        }
      }
    }
  }
}