.phishing {
  background: #EC5151;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.phishing-logo {
  width: 100px;
  display: block;
  margin: 0 auto 16px;
}

.phishing-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.phishing-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #EC5151;
  margin: 0 0 0 12px;
  font-family: inherit;
}

.phishing-headline {
  display: flex;
  margin: 0 auto 16px;
}

.phishing-text {
  font-size: 15px;
  color: #13141A;
  line-height: 22px;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-family: inherit;
}

.phishing-body {
  margin-bottom: 35px;
}

.phishing-footer {
  display: flex;
  margin: 0 auto 30px;
  flex-direction: column;
  align-items: center;
}

.phishing-close {
  display: block;
  background: #EC5151;
  border-radius: 4px;
  outline: none;
  width: 212px;
  height: 48px;
  border: none;
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: inherit;
}

.phishing-close:hover {
  opacity: 0.8;
  color: inherit;
}

.phishing-continue {
  font-size: 12px;
  color: #707280;
  text-decoration: underline;
  line-height: 14px;
  font-family: inherit;
}

.phishing-continue:hover {
  opacity: 0.8;
  color: inherit;
}
