@import '../../style/var.less';

.address-group-list {
  & > li {
    margin-bottom: 8px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    
    & > .subtitle {
      margin-bottom: 8px;
      a {
        color: currentColor;
        margin-left: 2px;
      }
    }
    .addresses {
      & > li {
        background-color: #fff;
        padding: 12px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        border-radius: 6px;
        .ant-skeleton-element {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
        }
        .icon-hardware {
          width: 24px;
          height: 24px;
        }
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }
  &.switch {
    & > li {
      .addresses {
        & > li {
          cursor: pointer;
        }
      }
    }
  }
}

.address-info {
  display: flex;
  align-items: center;
  height: 18px;
  line-height: 18px;
  .balance {
    color: #3b3e4a;
    font-size: 15px;
    font-weight: 500;
    margin-right: 8px;
    position: relative;
  }
}
.highlight-address {
  border: 1px solid #8697FF;
  border-radius: 6px;
}
.item-right-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right:16px;
}

.addressType__tooltip {
  .ant-tooltip-content {
    transform: translate(5px, 5px);
  }
  .ant-tooltip-arrow {
    right: 10px !important;
    bottom: -13.071068px !important;
  }
}
.address-wrap {
  margin-bottom: 8px;
  & > .subtitle {
    margin-bottom: 8px;
    a {
      color: currentColor;
      margin-left: 2px;
    }
  }
}
.address-wrap-with-padding {
  .address-wrap;
  &:nth-last-child(1) {
    padding-bottom: 200px;
  }
}
.addresses {
  & > li {
    background-color: #fff;
    padding: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 6px;
    .ant-skeleton-element {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .icon-hardware {
      width: 24px;
      height: 24px;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}