.page-header {
  display: flex;
  color: #2D3033;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding-top: 32px;
  margin-bottom: 20px;
  position: relative;
  .icon-back {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header-content {
    width: 100%;
    text-align: center;
    line-height: 1;
  }
}