.page-header {
  display: flex;
  color: #2D3033;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding-top: 32px;
  margin-bottom: 20px;
  .icon-back {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .header-content {
    flex: 1;
    text-align: center;
  }
}