@import '../../style/var.less';

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .main {
    width: 100%;
    height: 220px;
    background: @primary-linear;
    padding: 20px 28px 0;
    position: relative;
    .header {
      .icon {
        cursor: pointer;
      }
      .icon-copy, .icon-qrcode {
        width: 18px;
        height: 18px;
      }
      .icon-copy {
        margin-left: 13px;
      }
      .icon-qrcode {
        margin-left: 8px;
      }
    }
    .assets {
      margin-bottom: 31px;
      padding-top: 32px;
      .left {
        width: 100%;
        color: #fff;
        cursor: pointer;
        p {
          margin: 0;
        }
        .amount {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .icon-arrow-right {
            width: 24px;
            height: 24px;
          }
        }
        .extra {
          font-size: 12px;
          color: rgba(255, 255, 255, .6);
          .icon-chain {
            width: 20px;
            height: 20px;
          }
        }
      }
      .right {
        width: 24px;
        display: flex;
        align-items: center;
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .operation {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      height: 50px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(40px);
      border-radius: 6px 6px 0px 0px;
      .operation-item {
        flex: 1;
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        .pending-count {
          position: absolute;
          bottom: 2px;
          left: 40px;
        }
        .icon {
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
      }
    }
  }
}

.modal-switch-address {
  .icon-checked {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .footer {
    margin-top: 24px;
    a {
      display: flex;
      color: @primary-text-color;
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;
      justify-content: center;
      align-items: center;
      .icon-add {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }
    }
  }
}

.qrcode-modal {
  .ant-modal-content {
    background-color: #fff;
    .address {
      margin-top: 22px;
    }
  }
}

.balance-popover {
  margin-bottom: 0;
  padding: 8px 0;
  li {
    align-items: center;
    margin-bottom: 16px;
    .chain-logo {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    .amount {
      color: #2D3033;
      font-weight: 500;
      font-size: 13px;
      margin-right: 8px;
      width: 90px;
      text-align: left;
      margin-right: 8px;
    }
    .progress {
      position: relative;
      height: 8px;
      width: 150px;
      background-color: #D8DFEB;
      border-radius: 10px;
      margin-right: 12px;
      overflow: hidden;
      .inner {
        background-color: #8697FF;
        height: 8px;
        border-radius: 10px;
      }
    }
    .percent {
      color: #818A99;
      font-size: 13px;
      font-weight: 500;
      width: 25px;
      text-align: right;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}