@import '../../style/var.less';

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    width: 100%;
    height: 220px;
    background: linear-gradient(118.3deg, #8ba4ff -9.59%, #8082ff 108.51%);
    padding: 20px 28px 0;
    position: relative;
    overflow: hidden;
    .header {
      .icon {
        cursor: pointer;
      }
      .icon-copy,
      .icon-qrcode {
        cursor: pointer;
        width: 18px;
        height: 18px;
        circle {
          transition: opacity 0.2s;
        }
        &:hover {
          circle {
            opacity: 0.4;
          }
        }
      }
      .icon-copy {
        cursor: pointer;
        margin-left: 13px;
        path.copy_svg__checked {
          transform: scale(0);
        }
        path.copy_svg__copy {
          transform: scale(1);
        }
        path {
          transform-origin: center center;
          transition: transform 0.2s;
        }
        &.success {
          z-index: 10;
          path.copy_svg__copy {
            transform: scale(0);
          }
          path.copy_svg__checked {
            transform: scale(1);
          }
        }
      }
      .icon-qrcode {
        margin-left: 8px;
      }
      .icon-account-type {
        width: 18px;
        height: 18px;
        margin-right: 4px;
      }
      .icon-settings {
        cursor: pointer;
        transition: transform 0.2s;
        transform: rotate(0deg);
        &:hover {
          transform: rotate(120deg);
        }
      }
    }
    .header-wrapper {
      background: rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(40px);
      padding: 6px 8px;
      border-radius: 6px;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
      }
    }
    .assets {
      margin-bottom: 31px;
      padding-top: 32px;
      .left {
        width: 100%;
        color: #fff;
        cursor: pointer;
        p {
          margin: 0;
        }
        .amount {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .amount-number {
            display: flex;
            width: 100%;
            span {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .icon-external-link {
              display: none;
              width: 12px;
              height: 12px;
              margin-left: 2px;
              margin-top: -4px;
            }
            &:hover {
              text-shadow: 0px 4px 12px rgba(24, 30, 81, 0.2);
              .icon-external-link {
                display: block;
              }
            }
          }
          .icon-arrow-right {
            width: 24px;
            height: 24px;
          }
        }
        .extra {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6);
          .icon-chain {
            opacity: 0.8;
            margin-right: 4px;
            width: 20px;
            height: 20px;
          }
        }
      }
      .right {
        width: 24px;
        display: flex;
        align-items: center;
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .operation {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 344px;
      height: 48px;
      border-radius: 6px 6px 0 0;
      background: rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(40px);
      .operation-item {
        flex: 1;
        color: #fff;
        font-size: 14px;
        position: relative;
        padding: 6px;
        width: 166px;
        border-radius: 6px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
        position: relative;
        &:nth-child(1)::after {
          content: '';
          background-color: #ffffff;
          opacity: 0.2;
          width: 1px;
          height: 18px;
          position: absolute;
          right: 0;
        }
        &:nth-last-child(1) {
          margin-right: 0;
          border-right: 0;
          border-radius: 0 6px 0 0;
        }
        .icon-external-link {
          width: 10px;
          height: 10px;
          position: absolute;
          margin: 0;
          top: 4px;
          right: 4px;
          opacity: 0;
          transition: opacity 0.2s;
        }
        .icon {
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
        .pending-count {
          position: relative;
          font-size: 12px;
          text-align: center;
          width: 24px;
          height: 24px;
          line-height: 24px;
          margin-right: 4px;
          color: rgba(240, 242, 245, 0.8);
          .icon-pending {
            animation: spining 1.5s infinite linear;
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            margin: 0;
          }
        }
      }
    }
  }
  &.metamask-active {
    .current-connection {
      margin-top: 22px;
    }
  }
}
.copy-icon {
  cursor: pointer;
}
.switch-address-modal {
  .ant-modal-close {
    right: 16px;
    top: 16px;
    .ant-modal-close-x {
      width: 72px;
      height: 24px;
    }
  }
  .ant-modal-title {
    text-align: left;
  }
  .close-icon {
    width: 72px;
    height: 24px;
    background: #ffffff;
    border: 0.5px solid #d8dfeb;
    border-radius: 12px;
    padding: 1px;
    display: flex;
    .close-icon__action {
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:nth-child(1) {
        border-radius: 12px 0px 0px 12px;
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          height: 12px;
          margin-top: -6px;
          width: 0.5px;
          background-color: #d8dfeb;
        }
        &:hover {
          background-color: rgba(134, 151, 255, 0.2);
        }
      }
      &:nth-child(2) {
        border-radius: 0px 12px 12px 0px;
        &:hover {
          background-color: #f0f2f5;
        }
      }
      .icon {
        width: 16px;
        height: 16px;
        &.rolling {
          animation: spining 1s infinite;
        }
      }
    }
  }
  .modal-switch-address {
    .icon-checked {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .footer {
      margin-top: 24px;
      a {
        display: flex;
        color: @primary-text-color;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        .icon-add {
          width: 16px;
          height: 16px;
          margin-right: 6px;
        }
      }
    }
  }
}

.qrcode-modal {
  .ant-modal-content {
    background-color: #fff;
    .ant-modal-body {
      height: 368px;
      canvas {
        margin: 0 auto;
      }
      .address {
        margin-top: 17px;
      }
    }
  }
}
.address-popover {
  cursor: pointer;
  width: 344px;
  height: 200px;
  left: 28px !important;
  z-index: 2 !important;
  .brand-name {
    font-size: 20px;
    color: #13141a;
    font-weight: 500;
    margin: 2px 7px 0 6px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    .ant-input {
      width: 160px;
      height: 24px;
      background: #f5f6fa;
      border: 1px solid #e5e9ef;
      box-sizing: border-box;
      border-radius: 2px;
      padding-left: 2px;
    }
  }
  .edit-name {
    cursor: pointer;
    width: 11px;
    height: 11px;
    margin-left: 3px;
  }
  .qrcode-container {
    width: 100px;
    height: 100px;
    margin: 14px 0 16px 0;
    border: 1px solid #d8dfeb;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 4px 4px 6px;
  }
}
.dashboard-name {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.switch-popover {
  width: 200px;
  max-height: 308px;
  left: 28px !important;
  .ant-popover-arrow {
    display: none;
  }
  .address-item {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    width: 200px;
    height: 54px;
    padding-left: 15px;
    border: 1px solid transparent;
    transition: background-color 0.3s;
    .click-name {
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .list-alian-name {
        font-weight: 500;
        font-size: 13px;
        color: #13141a;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &:hover {
      background-color: rgba(134, 151, 255, 0.1);
      border: 1px solid #8697ff;
      border-radius: 4px;
    }
    &:nth-last-child(1)::after {
      border-bottom: 0;
    }
  }
  .address-item::after {
    content: '';
    position: absolute;
    left: 40px;
    right: 14px;
    bottom: 0;
    height: 1px;
    width: 146px;
    border-bottom: 1px solid #e5e9ef;
  }
  .ant-popover-inner-content {
    padding: 0 !important;
    background: #ffffff;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    .no-other-address {
      height: 62px;
      width: 200px;
      padding: 24px 52px 22px 40px;
      font-size: 14px;
      border-radius: 6px;
      text-align: center;
      color: #707280;
    }
    .pop-add-address {
      cursor: pointer;
      width: 200px;
      height: 36px;
      font-size: 12px;
      text-align: center;
      background: #ffffff;
      border-radius: 0px 0px 6px 6px;
      border-top: 1px solid #e5e9ef;
      padding-left: 15px;
      color: #8697ff;
      &:hover {
        background-color: rgba(134, 151, 255, 0.1);
      }
      img {
        width: 11px;
        height: 11px;
        margin-left: 4px;
      }
      p {
        margin-left: 15px;
        margin-bottom: 0;
        line-height: 14px;
      }
    }
  }
  .brand-name {
    font-size: 20px;
    color: #13141a;
    margin: 2px 7px 0 6px;
  }
  .edit-name {
    width: 11px;
    height: 11px;
    margin-left: 3px;
  }
  .qrcode-container {
    width: 100px;
    height: 100px;
    margin: 14px 0 16px 0;
    border: 1px solid #d8dfeb;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 4px 4px 6px;
  }
}
.balance-popover {
  width: 360px;
  left: 50% !important;
  margin-left: -180px !important;
  backdrop-filter: blur(16px);
  .ant-popover-arrow {
    left: 14px !important;
  }
  .ant-popover-inner-content {
    padding: 20px 16px;
  }
  ul {
    max-height: 385px;
    overflow: auto;
    margin-bottom: 0;
    li {
      line-height: 15px;
      align-items: center;
      margin-bottom: 16px;
      .chain-logo {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      .amount {
        color: #2d3033;
        font-weight: 500;
        font-size: 13px;
        width: 106px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-shrink: 0;
      }
      .progress {
        position: relative;
        height: 8px;
        width: 157px;
        background-color: #d8dfeb;
        border-radius: 10px;
        overflow: hidden;
        .inner {
          background-color: #8697ff;
          height: 8px;
          border-radius: 10px;
        }
      }
      .percent {
        flex: 1;
        color: #818a99;
        font-size: 13px;
        font-weight: 500;
        text-align: right;
      }
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

.default-wallet-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 32px;
  width: 100%;
  background-color: #8697ff;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 28px;
  .icon-rabby-white {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
  span {
    flex: 1;
  }
  .confirm-btn {
    border: 0.5px solid #ffffff;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    width: 60px;
    height: 20px;
    line-height: 20px;
    background-color: transparent;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.metamask-conflict-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 32px;
  width: 100%;
  background-color: rgba(242, 156, 27, 0.2);
  font-size: 12px;
  color: #f29c1b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .icon-metamask-warning {
    width: 18px;
    height: 17px;
    margin-right: 8px;
  }
  .icon-open-external {
    width: 12px;
    height: 12px;
    margin-left: 8px;
  }
}

.external-link-modal {
  .ant-modal-body {
    padding-bottom: 20px;
  }
}
.first-notice {
  .ant-modal-header {
    background: #ffffff;
    text-align: left;
    border-bottom: 0;
  }
  .ant-modal-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #13141a;
    text-align: left;
  }
  .ant-modal-content {
    background-color: #fff;
    .ant-modal-body {
      max-height: 420px;
    }
  }
}
