@import '../../var.less';

.dashboard {
  .main {
    width: 100%;
    height: 200px;
    background: @primary-linear;
    padding: 20px 28px 0;
    .header {
      .icon {
        cursor: pointer;
      }
      .icon-copy, .icon-qrcode {
        width: 18px;
        height: 18px;
      }
      .icon-copy {
        margin-left: 13px;
      }
      .icon-qrcode {
        margin-left: 8px;
      }
    }
  }
}