.recent-connections {
  background-color: #F0F2F5;
  flex: 1;
  padding: 15px 40px 0;
  .title {
    color: #818A99;
    font-size: 12px;
    margin: 0;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 25%;
      display: flex;
      padding: 24px;
      border-right: 0.5px solid rgba(216, 223, 235, 0.4);
      border-top: 0.5px solid rgba(216, 223, 235, 0.4);
      position: relative;
      .connect-chain {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 16px;
        height: 16px;
        z-index: 2;
      }
      .pin-website {
        position: absolute;
        width: 10px;
        height: 10px;
        left: 50%;
        margin-left: -4px;
        bottom: 6px;
        z-index: 2;
        cursor: pointer;
        display: none;
      }
      .logo {
        width: 32px;
        height: 32px;
        border-radius: 4px;
      }
      &:nth-child(4n) {
        border-right: none;
      }
      &:nth-child(-n+4) {
        border-top: none;
        padding-top: 8px;
        .connect-chain {
          top: 0;
        }
      }
      &:nth-last-child(-n+4) {
        padding-bottom: 8px;
        .pin-website {
          bottom: -6px;
        }
      }
      &:hover {
        .pin-website {
          display: block;
        }
      }
    }
    .fallback-site-logo {
      position: relative;
      overflow: visible;
      .img-wrapper {
        width: 32px;
        height: 32px;
        img {
          pointer-events: none;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -16px;
          margin-top: -16px;
          z-index: 1;
          transform: scale(1);
          transition: transform .2s;
        }
      }
      .img-wrapper::after {
        content: '';
        transform: scale(0);
        position: absolute;
        width: 32px;
        height: 32px;
        left: 50%;
        top: 50%;
        margin-left: -16px;
        margin-top: -16px;
        transition: transform .2s;
        background: var(--background);
        filter: blur(15px);
        z-index: 0;
        background-size: cover;
      }
      &:hover {
        .img-wrapper::after {
          transform: scale(1);
        }
        img {
          transform: scale(1.2);
        }
      }
    }
  }
  .icon-no-data {
    width: 140px;
    height: 140px;
    margin-top: 4px;
    margin-left: 50%;
    transform: translateX(-70px);
  }
  .current-connection {
    width: 344px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-left: -12px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 12px 16px;
    .connected {
      display: flex;
      align-items: center;
      width: 100%;
      .logo {
        width: 28px;
        height: 28px;
        margin-right: 8px;
        border-radius: 4px;
      }
      .info {
        margin-left: 12px;
        flex: 1;
        padding-right: 10px;
        overflow: hidden;
        p {
          margin-bottom: 0;
        }
        .origin {
          color: #2D3033;
          font-size: 13px;
          line-height: 15px;
          font-weight: 500;
        }
        .name {
          color: #818A99;
          font-size: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .not-connected {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #818A99;
      font-size: 12px;
      margin-bottom: 0;
      .icon-no-connect {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }
    .chain-selector {
      padding: 4px 0 4px 12px;
    }
  }
}

.connect-site-popover {
  font-size: 12px;
  max-width: 220px;
  p {
    margin-bottom: 0;
    word-break: break-all;
  }
  .origin {
    color: #2D3033;
    margin-bottom: 4px;
    font-weight: 500;
  }
}
