@import '../../style/var.less';

.chain-management {
  .page();
  padding: 0 28px;
  .field {
    margin-bottom: 12px;
    .icon-chain {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
    .chain-info {
      p {
        margin: 0;
        &:nth-child(1) {
          color: #3B3E4A;
          font-weight: 500;
          line-height: 15px;
        }
        &:nth-child(2) {
          color: #818A99;
          line-height: 14px;
        }
      }
    }
  }
  .tip {
    margin-top: 24px;
  }
}