@import '../../style/mixin.less';

.chain-management {
  .page();
  padding: 0 20px 20px;
  .all-wrapper {
    width: 360px;
    background: #ffffff;
    border-radius: 6px;
    padding: 0 12px 3px;
    .all-title {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: @color-title;
      padding: 12px 0 0 0;
    }
    .drag-sort {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: @color-comment-1;
      padding: 13px 0 0 0;
    }
  }
  .pinned-wrapper {
    .all-wrapper;
    min-height: 102px;
    margin-bottom: 12px;
    .no-pinned-container {
      width: 100%;
      height: 52px;
      background: @color-bg;
      border-radius: 6px;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: @color-comment-1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 0 12px;
    }
    .droppable {
      margin-top: 8px;
      overflow: hidden;
    }
  }
  .field {
    .icon-chain {
      width: 32px;
      height: 32px;
    }
    .chain-info {
      p {
        margin: 0;
        &:nth-child(1) {
          color: #3b3e4a;
          font-weight: 500;
          line-height: 15px;
        }
        &:nth-child(2) {
          color: @color-comment-1;
          line-height: 14px;
        }
      }
    }
  }
  .tip {
    margin-top: 24px;
  }
}

.ant-modal-confirm.disable-chain {
  .ant-modal-content {
    background-color: white;
  }
  .ant-modal-confirm-title {
    font-size: 15px;
    line-height: 18px;
  }
  .ant-modal-confirm-content {
    margin-top: 0;
  }

  .ant-modal-confirm-btns {
    float: none;
    width: 304px;
    margin-left: auto;
    margin-right: auto;
  }
}
.fixed-new-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.inital-chain-management {
  padding: 110px 20px 20px !important;
}
