@import '../../style/var.less';

.chain-management {
  .page();
  padding: 0 28px 20px;
  .field {
    .icon-chain {
      width: 32px;
      height: 32px;
    }
    .chain-info {
      p {
        margin: 0;
        &:nth-child(1) {
          color: #3b3e4a;
          font-weight: 500;
          line-height: 15px;
        }
        &:nth-child(2) {
          color: #818a99;
          line-height: 14px;
        }
      }
    }
  }
  .tip {
    margin-top: 24px;
  }
}

.ant-modal-confirm.disable-chain {
  .ant-modal-content {
    background-color: white;
  }
  .ant-modal-confirm-title {
    font-size: 15px;
    line-height: 18px;
  }
  .ant-modal-confirm-content {
    margin-top: 0;
  }

  .ant-modal-confirm-btns {
    float: none;
    width: 304px;
    margin-left: auto;
    margin-right: auto;
  }
}
