.page-pending-detail {
  background-color: var(--r-neutral-bg-2, #f2f4f7);
  height: 100vh;
  overflow: auto;
  padding-bottom: 100px;

  .layout-container {
    width: 1040px;
    margin: 0 auto;
  }

  .main-content {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 346px;
      right: -60px;
      width: 87px;
      height: 71px;
      background: url('../../assets/pending/bg-ball-2.svg') no-repeat center;
      opacity: 0.7;
    }
    &::after {
      content: '';
      position: absolute;
      top: 1100px;
      left: -170px;
      width: 87px;
      height: 71px;
      background: url('../../assets/pending/bg-ball-1.svg') no-repeat center /
        contain;
      opacity: 0.7;
    }
  }

  .card {
    border-radius: 8px;
    background-color: var(--r-neutral-card-1, #fff);

    padding: 24px 24px 8px 24px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.07);

    & + .card {
      margin-top: 24px;
    }

    &-title {
      color: var(--r-neutral-title-1, #192945);
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .simple-table {
    .nft-avatar {
      border: 0;
    }
    .ant-table {
      background: transparent;
    }
    .ant-table-thead > tr > th {
      background-color: transparent;
      border-bottom: 1px solid var(--r-neutral-card-2, #f2f4f7);

      color: var(--r-neutral-body, #3e495e);
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;

      padding: 16px 0;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      background-color: var(--r-neutral-card-3, #f7fafc);
    }

    .ant-table-tbody > tr > td {
      padding: 12px 0;
      height: 48px;

      color: var(--r-neutral-body, #3e495e);
      border-bottom: 1px solid var(--r-neutral-card-2, #f2f4f7);
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
    }
    .ant-table-tbody {
      .ant-table-row:last-child td {
        border-bottom: none;
      }
    }
    .ant-pagination {
      color: var(--r-neutral-title-1, #f7fafc);

      .anticon > svg {
        color: var(--r-neutral-title-1, #f7fafc);
      }
    }
    .ant-pagination-simple .ant-pagination-simple-pager input {
      background-color: transparent;
    }
    .ant-table-pagination {
      margin: 32px 0;
      align-items: center;

      .ant-pagination-prev,
      .ant-pagination-next {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .ant-pagination-item-link {
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          background: var(--r-neutral-card-2, #f2f4f7);
        }
      }
    }

    .is-current-tx {
      position: absolute;
      top: 0;
      left: -24px;
      bottom: 0;
      right: -896px;
      border-radius: 6px;
      border: 1px solid var(--r-blue-default, #7084ff);
      z-index: 100;

      &-tag {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0px 0px 6px 0px;
        background: var(--r-blue-default, #7084ff);
        display: flex;
        padding: 2px 6px;
        color: var(--r-neutral-title-2, #fff);
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
      }
    }
  }

  .pending-tx-table {
    .ant-table-tbody > tr > td {
      height: 64px;
    }
  }

  .pills-switch {
    background: var(--r-neutral-line, #d3d8e0);

    .pills-switch__item.is-active {
      background: var(--r-neutral-bg-1, #fff);
    }
  }
}
