.page-pending-detail {
  background: var(--r-neutral-bg-2, #f2f4f7);
  height: 100vh;
  overflow: auto;

  .layout-container {
    width: 1120px;
    margin: 0 auto;
  }

  .card {
    border-radius: 8px;
    background: var(--r-neutral-card-1, #fff);

    padding: 24px 32px 16px 32px;

    &-title {
      color: var(--r-neutral-title-1, #192945);
      font-size: 18px;
      font-weight: 600;
      line-height: 21px;
    }
  }
}
