@media (min-width: 600px) {
  .select-address {
    .stray-page {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }

    .address {
      margin-bottom: 0;
      & > div {
        height: 62px;
      }
      & > div:nth-last-child(1) {
        margin-bottom: 0 !important;
      }
      .field + .field {
        margin-top: 0;
      }
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
.select-address {
  overflow: hidden;
  .address {
    margin-bottom: 8px;
  }
}
.select-address-wrapper {
  background: #ffffff;
  border-radius: 6px;
  color: @color-comment-1;
  font-size: 12px;
  padding: 10px 20px 6px;
  margin: 0 auto;
  justify-content: space-between;
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .ant-input {
    width: 48px;
    height: 24px;
    background: @color-bg;
    border: 1px solid @color-border;
    box-sizing: border-box;
    &.active {
      border: 1px solid #f24822;
    }
  }
  .error-message {
    font-size: 12px;
    color: #f24822;
    margin-left: 3px;
  }
}
