@import '../../../../style/var.less';

.popup-settings {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  .content {
    flex: 1;
  }
  .footer {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: @color-comment-1;
    img {
      display: inline-block;
      width: 64px;
    }
  }
  .lock-wallet {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    height: 52px;
    .icon-lock {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
  .field {
    background: @color-bg;
    border-radius: 6px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: @color-title;
    padding: 0 16px;
    border: 1px solid transparent;
    &.default-wallet-field {
      padding-top: 20px;
      height: 80px;
      align-items: flex-start;
      .default-wallet-title {
        line-height: 20px;
      }
    }
    &:hover {
      background-color: rgba(134, 151, 255, 0.2);
      border: 1px solid #8697ff;
    }
    .not-default-tip {
      color: @color-red;
      font-size: 12px;
      line-height: 14px;
    }
    .left-icon {
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .right-icon {
      .icon {
        width: 16px;
        height: 16px;
      }
    }
  }
  .openapi-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform .3s;
    padding: 20px;
    .page-header {
      padding-top: 0;
      margin-bottom: 28px;
    }
    &.show {
      transform: translateX(0);
    }
  }
}
