.popup-settings {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  .content {
    flex: 1;
  }
  .footer {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #818a99;
    img {
      display: inline-block;
      width: 64px;
    }
  }
  .lock-wallet {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    height: 52px;
    .icon-lock {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
  .field {
    background: #f5f6fa;
    border-radius: 6px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #13141a;
    padding: 0 16px;
    border: 1px solid transparent;
    &:hover {
      background-color: rgba(134, 151, 255, 0.2);
      border: 1px solid #8697ff;
    }

    .left-icon {
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .right-icon {
      .icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
